.my-modal{
  position: fixed;
  margin: auto;
  width: 430px;
  height: 100%;
  right: 0px;
  background-color: aqua;
}

.my-modal > div{
  height: 100%;
}

.modal-dialog2 {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}

@media (max-width: 420px) {
  .my-modal{
    width: 100%;
  }
}