<div class=" header bg-maspedidos pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0">
                {{ 'config.titulo' | translate}}</h6>
          </div>
          <div class=" col-lg-6 col-5 text-right">
            <!-- <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="addCliente(modalAdd)" > Nuevo Cliente </a> -->
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><h3 class="mb-0">{{ 'config.subtitulo' | translate }}</h3></div>
                    <div class="card-body">
                                        
                        <form [formGroup]="formConfig" novalidate >
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <label for="nombre_empresa"
                                         class="form-control-label">{{ 'config.formConfig.nombre' | translate }}</label>
                                        <input type="text" 
                                            placeholder="Nombre de la empresa" 
                                            formControlName="nombre_empresa"  class="form-control"> 
                                        <div class="alert  alert-danger" 
                                            *ngIf="formConfig.get('nombre_empresa').hasError('required') && formConfig.get('nombre_empresa').touched">  
                                            {{ 'config.formConfig.nombre' | translate }} es obligatorio
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group ">
                                        <label for="direccion" 
                                            class="form-control-label">{{ 'config.formConfig.direccion' | translate }}</label>
                                        <input type="text" 
                                            placeholder="Direccion" formControlName="direccion"  class="form-control"> 
                                    </div>
                                </div>                            
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label for="telefono" 
                                            class="form-control-label">{{ 'config.formConfig.telefono' | translate }}</label>
                                        <input type="text" 
                                            placeholder="Telefono" formControlName="telefono"  class="form-control"> 
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group ">
                                        <label for="correo" 
                                            class="form-control-label">{{ 'config.formConfig.correo' | translate }}</label>
                                        <input type="text" 
                                            placeholder="Email" formControlName="correo"  class="form-control"> 
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mr-1">
                                        <label for="color_botones" 
                                            class="form-control-label">{{ 'config.formConfig.colorButton' | translate }}</label>
                                        <input [(colorPicker)]="color" 
                                            [value]="color" [(ngModel)]="color" [style.background]="color" 
                                            formControlName="color_botones" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">        
                                
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label for="logo" 
                                            class="form-control-label">{{ 'config.formConfig.logo' | translate }}</label>
                                        <input type="file" accept="image/*" placeholder="logo" 
                                            (change)="showPreviewHeader($event)" formControlName="logoo"  class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="imagePreview" *ngIf="imageURLogo && imageURLogo !== ''">
                                        <button class="btn btn-danger delete-entry d-inline-block btn-lg btn-block" 
                                            (click)="deleteImage()">x</button>
                                        <img class="ard-img-top" 
                                            [src]="imageURLogo" 
                                            style="width:100%; position: relative;">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mr-1">
                                        <label for="color_botones" 
                                            class="form-control-label">{{ 'config.formConfig.descripcionEmpresa' | translate }}</label>
                                        <angular-editor formControlName="descripcion_empresa" [config]="config"></angular-editor>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="pt-2">
                                        <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                            {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>       
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</div>