<form [formGroup]="formConfig" novalidate >
<div class=" header  pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 d-inline-block mb-0">
                {{ 'config.titulo' | translate}}</h6>
          </div>
          
        </div>
      </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><h3 class="mb-0">{{ 'config.subtitulo' | translate }}</h3></div>
                    <div class="card-body">
                                        
                        
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <label for="nombre_empresa"
                                         class="form-control-label">{{ 'config.formConfig.nombre' | translate }}</label>
                                        <input type="text" 
                                            placeholder="Nombre de la empresa" 
                                            formControlName="nombre_empresa"  class="form-control"> 
                                        <div class="alert  alert-danger" 
                                            *ngIf="formConfig.get('nombre_empresa').hasError('required') && formConfig.get('nombre_empresa').touched">  
                                            {{ 'config.formConfig.nombre' | translate }} es obligatorio
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group ">
                                        <label for="direccion" 
                                            class="form-control-label">{{ 'config.formConfig.direccion' | translate }}</label>
                                        <input type="text" 
                                            placeholder="Direccion" formControlName="direccion"  class="form-control"> 
                                    </div>
                                </div>                            
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label for="telefono" 
                                            class="form-control-label">{{ 'config.formConfig.telefono' | translate }}</label>
                                        <input type="text" 
                                            placeholder="Telefono" formControlName="telefono"  class="form-control"> 
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group ">
                                        <label for="correo" 
                                            class="form-control-label">{{ 'config.formConfig.correo' | translate }}</label>
                                        <input type="text" 
                                            placeholder="Email" formControlName="correo"  class="form-control"> 
                                    </div>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mr-1">
                                        <label for="color_botones" 
                                            class="form-control-label">{{ 'config.formConfig.descripcionEmpresa' | translate }}</label>
                                            <textarea  class="form-control" formControlName="descripcion_empresa" placeholder="Corta descripción de la empresa" ></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-right">
                                    <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                        {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                    </button>
                                </div>
                            </div>
                    </div>                 
                </div>
            </div>

            <!-- <div class="card-wrapper">
                <div class="card">
                    <div class="card-header">
                        <h3>
                            {{ 'config.formConfig.general_limites' | translate}}
                        </h3>
                    </div>
                    <div class="card-body">
                        
                            <div class="row">     
                                <div class="col-4">
                                    <label class="form-control-label" 
                                      for="example-time-input">{{ 'config.formConfig.hora_limite_pedido' | translate}}</label>
                                    <input class=" form-control" formControlName="hora"  type="time"/>
                                </div>
                                <div class="col-4">
                                    <label class="form-control-label" 
                                      for="example-time-input">{{ 'config.formConfig.monto_limite_pedido' | translate}}</label>
                                    <input class=" form-control" formControlName="monto_minimo"/>
                                </div>
                                <div class="col-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-right">
                                    <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                        {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                    </button>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>                -->

            <!-- Colores y fotos -->
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><h3>Colores y tamaño de fotos</h3></div>
                    <div class="card-body">
                       
                            <div class="row">     
                                
                                <div class="col-4">
                                    <label class="form-control-label">{{ 'config.formConfig.textFoto' | translate}}</label>
                                    <div class="row">
                                        <div class=" col-md-3">
                                            <div class="custom-control custom-radio mb-3">
                                                <input name="size_foto" formControlName="size_foto" [value]="1" [checked]="chico == true" 
                                                    class="custom-control-input" id="customRadio5" type="radio">
                                                <label class="custom-control-label" for="customRadio5">{{ 'config.formConfig.chico' | translate}}</label>
                                            </div>
                                        </div>
                                        <div class=" col-md-3">
                                            <div class="custom-control custom-radio mb-3">
                                                <input name="size_foto" formControlName="size_foto"  [value]="2" [checked]="mediano == true" 
                                                    class="custom-control-input" id="customRadio6"  type="radio">
                                                <label class="custom-control-label" for="customRadio6">{{ 'config.formConfig.mediano' | translate}}</label>
                                            </div>
                                        </div>
                                        <div class=" col-md-3">
                                            <div class="custom-control custom-radio mb-3">
                                                <input name="size_foto" formControlName="size_foto" [value]="3" [checked]="grande == true"
                                                    class="custom-control-input" id="customRadio7"  type="radio">
                                                <label class="custom-control-label" for="customRadio7">{{ 'config.formConfig.grande' | translate}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group mr-1">
                                        <label for="color_botones" 
                                            class="form-control-label">{{ 'config.formConfig.colorButton' | translate }}</label>
                                        <input [(colorPicker)]="color" 
                                            [value]="color" [(ngModel)]="color" [style.background]="color" 
                                            formControlName="color_botones" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="pt-2">
                                      
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-12 text-right">
                                    <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                        {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
            </div> 

            <!-- Colores y fotos-->

            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><h3>Ingrese los logos</h3></div>
                    <div class="card-body">
                        
                        <!--  LOGOS -->
                        <div class="row">        
                            <div class="col-6">
                                <div class="form-group ">
                                    <label for="logo" 
                                        class="form-control-label">{{ 'config.formConfig.logo' | translate }}</label>
                                    <input type="file" accept="image/*" placeholder="logo" 
                                        (change)="showPreviewHeader($event)" formControlName="logoo"  class="form-control">
                                </div>
                            
                                <div class="imagePreview w-50" *ngIf="imageURLogo && imageURLogo !== ''">
                                    <img class="card-img-top  h-50 mt-1" [src]="imageURLogo">
                                    <button class="btn btn-danger delete-entry d-inline-block " 
                                        (click)="deleteImage()">x</button>
                                </div>
                            </div>
                        
                            <div class="col-6">
                                <div class="form-group ">
                                    <label for="logo_mobile"
                                        class="form-control-label">{{ 'config.formConfig.LogoMobile' | translate }}</label>
                                    <input type="file" accept="image/*" placeholder="logo mobile"
                                        (change)="showPreview($event)" formControlName="logo_mobile"  class="form-control" id="logo_mobile">
                                </div>
                            
                                <div class="imagePreview w-25" *ngIf="imageURLogoMobile && imageURLogoMobile !== ''">                                   
                                    <img class="card-img-top h-50 mt-1" [src]="imageURLogoMobile" >
                                    <button class="btn btn-danger delete-entry d-inline-block" (click)="deleteImageMobile()">
                                        <i class="ni ni-fat-remove"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- LOGOS -->
                        <div class="row">
                            <div class="col-12 text-right">
                                <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                    {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                </button>
                            </div>
                        </div>
                       
                    </div>

                    
                   
                   
                </div>

            </div>
        </div>
    </div>
</div>
</form>