<div class="align-self-between d-flex justify-content-between mr-2 ml-2 mt-2" style="flex-wrap: wrap">
    <ng-container class="d-block" *ngFor="let photo of photos">
        <div class="card overflow-hidden mr-1 ml-1" style="width: 18rem;">
          <img src="https://maspedidos.s3.us-west-2.amazonaws.com/{{ photo }}" class="img-thumbnail mr-1 card-img-top"  alt="{{photo}}" (error)="onImgError($event)">
          <div class="card-body">
            <div class="align-self-between d-flex justify-content-between">
                <a href="javascript:void(0)" (click)='asignar(modalAsignar, photo)'
                    title="Asignar"> Asignar
                    <span class="fas fa-pen-alt primary"></span>
                </a>
                <a href="javascript:void(0)"
                    (click)='eliminar(photo)' title="Eliminar">Eliminar <span class="fas fa-trash primary"></span>
                </a>
            </div>
          </div>
        </div>
    </ng-container>
    <ng-container class="d-block d-md-none" *ngFor="let photo of photos">
        <div class="card overflow-hidden mr-1 ml-1">
          <img src="https://maspedidos.s3.us-west-2.amazonaws.com/{{ photo }}" class="img-thumbnail mr-1 card-img-top"  alt="{{photo}}" (error)="onImgError($event)">
          <div class="card-body">
            <div class="align-self-between d-flex justify-content-between">
                <a href="javascript:void(0)" (click)='asignar(modalAsignar, photo)'
                    title="Asignar"> Asignar
                    <span class="fas fa-pen-alt primary"></span>
                </a>
                <a href="javascript:void(0)"
                    (click)='eliminar(photo)' title="Eliminar">Eliminar <span class="fas fa-trash primary"></span>
                </a>
            </div>
          </div>
        </div>
    </ng-container>
</div>


<ng-template #modalAsignar >
    <div class=" modal-header">
        <h5 class="modal-title" >Asignar foto</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="modalAsignarVar.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class=" modal-body  pt-0">
        <div class="card-group">
            <div class="card">
              <div class="from-group">
                  <label class="form-control-label">Seleccione el producto</label>
                  <ng-select
                            [items]="products"
                            [(ngModel)]="productOption"
                            bindValue="id"
                            bindLabel="name"
                            [clearSearchOnAdd]="true">
                  </ng-select>
              </div>
            </div>
        </div>
    </div>

    <div class=" modal-footer">
      <button class="btn btn-success" data-dismiss="modal" type="button" (click)="photo_assign(); modalAsignarVar.hide()">Asignar</button>
      <button class="btn btn-sm btn-danger" data-dismiss="modal" type="button" (click)="modalAsignarVar.hide()"> <i class="fa fa-times-circle" ></i>Cancelar</button>
    </div>

</ng-template>