
.custom-grown{
    flex-grow: 8 !important;
}
.text-end{
    text-align: end !important;
}

.custom-grown{
    flex-grow: 2 !important;
}

.flex-center{
    align-self: center !important;
}

.list-group-item{
    align-content: space-between !important;
}

.img-gateway{
    max-height: 5rem !important;
    max-width: 10rem !important;
}