<div class=" header  pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-4 col-7">
            <h6 class=" h2  d-inline-block mb-0 mr-1 text-uppercase">Lista</h6>
            
          </div>
          <div class=" col-lg-8 col-5 text-right">
            <a class="btn btn-success" href="javascript:void(0)" 
            (click)="newCompany(addEmpresa)"> Nueva Empresa </a>
          </div>
        </div>
      </div>
    </div>
</div>


<div class=" container-fluid mt--6">
    <div class=" card">
      <div class="card-header">
        <h3 class="catd-text">Filtros</h3>
        <div class="row">
          <div class="col-12 col-md-3">
              <div class="from-group">
                <label class="form-control-label">Nombre empresa</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="nombreEmpresa"
                      placeholder="ingrese nombre" aria-controls="datatable" (keyup)="filters()" />
              </div>
          </div>
          <div class="col-md-12 mt-3">
            <button class="btn btn-sm btn-primary" (click)="eliminar()">limpiar búsqueda</button>
         </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12" *ngFor="let empresa of empresas">
            <div class="card overflow-hidden">
                <div class="card-content">
                    <div class="card-body ">
                        <div class="media align-items-stretch">
                            <!-- <div class="align-self-center">
                                <i class="icon-pencil primary font-large-2 mr-2"></i>
                            </div> -->
                            <div class="media-body">
                                <h4>{{empresa.nombre}}</h4>
                                <span class="d-block" *ngIf="empresa.contacto">{{empresa.contacto}}</span>
                                <span class="d-block" *ngIf="empresa.fecha_registro">{{empresa.fecha_registro}}</span>
                                <span class="d-block" *ngIf="empresa.telefono">{{empresa.telefono}}</span>
                                
                            </div>
                            <div class="desktop align-self-center">
                                <button class="btn btn-md btn-info " (click)="openInfo(modalEmpresa,empresa)" title="Detalles" >
                                    <i class="icon-info success font-large-2 "></i>
                                </button>
                                <a href="http://{{empresa.dominio}}" title="ir a tienda" target="blanck" class="btn btn-md btn-primary">
                                  <i class="icon-direction danger font-large-2"></i>
                                </a>
                                <button class="btn btn-sm " (click)="viewAdminPanel(empresa)">
                                    <i class="icon-heart danger font-large-2"></i>
                                </button>
                                <!-- <button class="btn btn-sm ">
                                    <i class="icon-pencil primary font-large-2 mr-2"></i>
                                </button> -->
                            </div>
                            <div class="movil align-self-center">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="openInfo(modalEmpresa,empresa)">
                                      <mat-icon>info</mat-icon>
                                      <span>Detalles</span>
                                    </button>
                                    <!-- <button mat-menu-item disabled>
                                      <mat-icon>voicemail</mat-icon>
                                      <span>Check voice mail</span>
                                    </button> -->
                                    <a href="http://{{empresa.dominio}}" target="blanck" mat-menu-item>
                                      <mat-icon>link</mat-icon>
                                      <span>ir a tienda</span>
                                    </a>
                                  </mat-menu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

</div>

<ng-template #modalEmpresa >
  <div class="modal-header">    
      <h2 class="" >{{empresa}}</h2>
      <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
          <span aria-hidden="true"> × </span>
      </button>
  </div>    
  <div class="modal-body">
    <table class="col-12 ">
      <tbody>
          <tr>
              <td class="h4 text-right"><strong>Contacto:</strong></td>
              <td> </td>
              
              <td class="h3">{{empresaDetails.contacto}}</td>
          </tr>
          
          <tr>
              <td class="h4 text-right"><strong>Telefono:</strong></td>
              <td> </td>
              <td class="h3">{{empresaDetails.telefono}}</td>
          </tr>
          
          <tr>
              <td class="h4 text-right"><strong>Correo:</strong></td>
              <td> </td>
              <td class="h3">{{empresaDetails.email}}</td>
          </tr>
          
          <tr>
              <td class="h4 text-right"><strong>Usuario:</strong></td>
              <td> </td>
              <td class="h3">{{empresaDetails.usuario}}</td>
          </tr>
          
          <tr>
              <td class="h4 text-right"><strong>Bucket:</strong></td>
              <td> </td>
              <td class="h3">{{empresaDetails.bucket}}</td>
          </tr>    

      </tbody>
    </table>
          
    <!-- <div class="col-2 "> 
        <img src="assets/img/pordefecto.png" alt="teste" class="img-thumbnail">  
    </div>      -->

  </div>
  <div class=" modal-footer">
    <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> 
      <i class="fa fa-times-circle" ></i> Cerrar</button>
  </div>
</ng-template>

<ng-template #addEmpresa >

  <div class="modal-header">    
      <h2 class="modal-title" >Nueva Empresa</h2>
      <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
          <span aria-hidden="true"> × </span>
      </button>
  </div>    
  <form role="form" #registracionForm="ngForm"  (ngSubmit)="registracion(registracionForm)">

  <div class="modal-body">
    <div class="card-wrapper bg-white">

      <div class="card">
        <div class="card-header">
          <h3>Generales</h3>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-lg-4">
              <div class="form-group mb-3" [ngClass]="{ focused: focus === true }" >
                <label for="nombre">{{ 'registracion.nombre' | translate}}</label>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                  <input class="form-control" id="nombre" name="nombre" placeholder="{{ 'registracion.nombre' | translate}}" 
                    type="text" (focus)="focus = true" (blur)="focus = false" ngModel/>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group mb-3" [ngClass]="{ focused: focus === true }" >
                <label for="email">{{ 'registracion.email' | translate}}</label>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" id="email" name="email" placeholder="{{ 'registracion.email' | translate}}" 
                    type="text" (focus)="focus = true" (blur)="focus = false" ngModel/>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                <label for="password">{{ 'registracion.pass' | translate}}</label>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" id="password" [type]="fieldTextType ? 'text' : 'password'"
                      name="password" placeholder="{{ 'registracion.pass' | translate}}" 
                    type="password" (focus)="focus1 = true" (blur)="focus1 = false" ngModel/>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i  class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }"
                            (click)="toggleFieldTextType()"
                        ></i>
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                <label for="subdomain">{{ 'registracion.subdomain' | translate}}</label>

                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-shop"></i></span>
                  </div>
                  <input class="form-control" id="subdomain" name="subdomain" placeholder="{{ 'registracion.subdomain' | translate}}" 
                    type="text" (focus)="focus1 = true" (blur)="focus1 = false" ngModel #subdomain="ngModel"/>
                  <small class="form-control"> .maspedidos.com.ar  </small>
                </div>
                <div *ngIf="(subdomain.dirty && subdomain.touched)" class="alert alert-dominio">
                    <div *ngIf="validatePageField(subdomain.viewModel)" class="alert alert-danger">{{ 'registracion.errorCaracter' | translate}}</div>
                </div>
              </div>
            </div>        
          </div>
          <div class="row">

            <div class="col-lg-10">

              <div class="form-group" [ngClass]="{ focused: focus1 === true }">

                    <input class="btn btn-sm inline-block " id="terminosycondiciones" [(ngModel)]="flag"
                    (change)="aceptTerminos()" name="terminosycondiciones" type="checkbox" ngModel/>
                    
                    Aceptá los<a class="inline-block" target="_blank" href="https://maspedidos.com.ar/politicas.html"> términos y condiciones </a> de la empresa
                  
              </div>

            </div>
          </div>
          <!-- <div class="text-center">
            <button type="button"  [disabled]="disableButton" type="submit" class="btn btn-primary my-4">{{ 'registracion.registrar' | translate}}</button>
          </div> -->
        </div>
      </div>
    </div>
</div>
  <div class=" modal-footer">
    <button type="button"  [disabled]="disableButton" type="submit" class="btn btn-success my-4">{{ 'registracion.registrar' | translate}}</button>
    <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> 
      <i class="fa fa-times-circle" ></i> Cerrar</button>
  </div>
  </form>

</ng-template>