<div class=" header  pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 d-inline-block mb-0">
               Productos faltantes</h6>
          </div>
        </div>
      </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class="dataTables_wrapper py-4 "  *ngIf="!emptyTable">  
                    <div class="row">
                        <div class="col-2" ></div>
                        <div class="col-8" >
                            <div class="text-center cabecera">
                                <h1 > Aquí aparecerán tus productos faltantes</h1>
                                <img src="assets/img/2808165.jpg" width="100%">  
                            </div>     
                        </div>
                    </div>        
                </div>
                <div class=" card-header" *ngIf="emptyTable">
                    <h3 class="catd-text">Filtros</h3>
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="from-group">
                                <label class="form-control-label">Número Pedido</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="nroPedido"
                                    placeholder="Número Pedido" aria-controls="datatable" 
                                    (keyup)="filters()"/>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="textCaract1" >
                            <div class="from-group">
                                <label class="form-control-label" for="">{{caracteristica1}}:</label>
                                <ng-select  (change)="filters()" [(ngModel)]="caracteristica1Select" 
                                    bindValue="estado" [items]="listaCaracteristica1" bindLabel="estado">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="textCaract2" >
                            <div class="from-group">
                                <label class="form-control-label" for="">{{caracteristica2}}:</label>
                                <ng-select  (change)="filters()" [(ngModel)]="caracteristica2Select" 
                                    bindValue="estado" [items]="listaCaracteristica2" bindLabel="estado">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="textCaract3" >
                            <div class="from-group">
                                <label class="form-control-label" for="">{{caracteristica3}}:</label>
                                <ng-select  (change)="filters()" [(ngModel)]="caracteristica3Select" 
                                    bindValue="estado" [items]="listaCaracteristica3" bindLabel="estado">
                                </ng-select>
                            </div>
                        </div>
                        
                        <div class="col-md-3 mt-4 py-2">
                            <button class="btn btn-sm btn-secondary active" (click)="mostrarMasFiltros(modalFiltro)">
                                <span class="ml-1  fas fa-sliders-h"></span> Filtros
                            </button>
                        </div>
                    
                         <div class="col-md-12 mt-3">
                            <button class="btn btn-sm btn-primary" (click)="eliminar()">limpiar búsqueda</button>
                            <button class="btn btn-sm btn-success" (click)="exportarPedidos()">Exportar pedidos <span class="ml-1 text-white fas fa-file-import"></span></button>
                         </div>
                         
                    </div>
                </div>
                

                <div class="dataTables_wrapper py-4" *ngIf="emptyTable">
                     <div class="row">
                        <div class="col-xs-12 col-sm-6" *ngFor="let producto of temp" >
                            <div class="card overflow-hidden">
                                <div class="card-content">
                                    <div class="card-body  d-md-block">
                                        <div class="d-flex justify-content-between">
                                            <h4 class="card-title"><strong>Codigo: </strong>{{producto.codigo}}</h4>
                                        </div>
                                        <div class="media h-100 d-flex flex-column">
                                            <span class="d-block" ><strong>Titulo: </strong>{{producto.titulo}}</span>
                                            <span *ngIf="textCaract1" class="d-block"><strong>{{caracteristica1}}: </strong>{{producto.caracteristica1}}</span>
                                            <span *ngIf="textCaract2" class="d-block"><strong>{{caracteristica2}}: </strong>{{producto.caracteristica2}}</span>
                                            <span *ngIf="textCaract3" class="d-block"><strong>{{caracteristica3}}: </strong>{{producto.caracteristica3}}</span>
                                            <span class="d-block"><strong>Proveedor: </strong>{{producto.nombre_proveedor}} ({{producto.numero_proveedor}})</span>
                                            <span class="d-block"><strong>Cantidad: </strong>{{producto.cantidad_pedida-producto.cantidad_enviada}}</span>
                                            <span class="d-block"><strong>Pedido #: </strong>{{producto.numero_interno}}</span>
                                            <span class="d-block"><strong>Fecha: </strong> {{producto.fecha |date:'dd/MM/yyyy'}}</span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="table-responsive">
                        <ngb-pagination [(page)]="page" [maxSize]="7" [rotate]="true"  (pageChange)="refreshDatos()"
                     [pageSize]="pageSize" [collectionSize]="collectionSize"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalFiltro >
    <div class=" modal-header">    
        <h3 class="modal-title" >Filtrar pedidos</h3>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide();">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class="modal-body">
        <label for="" class="form-control-label mt-2">Rango de fechas</label>
        <div class="row ml-1 d-flex justify-content-between">
            <div class=" p-0 d-flex justify-content-center">
                <button class="btn btn-sm btn-primary" (click)="dates(0)">Hoy</button>
            </div>
            <div class=" p-0 d-flex justify-content-center">
                <button class="btn btn-sm btn-primary" (click)="dates(7)">Ultimos 7 días</button>
            </div>
            <div class=" p-0 d-flex justify-content-center">
                <button class="btn btn-sm btn-primary" (click)="dates(30)">Últimos 30 días</button>
            </div>
            <div class=" p-0 d-flex justify-content-center">
                <button class="btn btn-sm btn-primary" (click)="personalizado=personalizado==true?false:true">Personalizado</button>
            </div>
        </div>
        <div class="row mt-3" *ngIf="personalizado">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="" class="form-control-label">Fecha Inicio</label>
                    <input type="date" class="form-control form-control-sm" [(ngModel)]="dateStar"   >
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="" class="form-control-label">Fecha Fin</label>
                    <input type="date" class="form-control form-control-sm" [(ngModel)]="dateEnd"  >
                </div>
            </div>
        </div>
        <div class="row ml-1 mt-3">
            <div class="from-group w-100">
                <label class="form-control-label">Número Proveedor</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="nroProveedor"
                    placeholder="Número Proveedor" aria-controls="datatable" 
                    (keyup)="filters()"/>
            </div>
        </div>
        <div class="row mt-3 d-flex justify-content-end">
            <div class="col-4 mr-0 d-flex justify-content-end p-0">
                <button class="btn btn-sm btn-secondary active" (click)="eliminar();notificationModal.hide();">Borrar filtros</button>
            </div>
            <div class="col-3">
                <button class="btn btn-sm btn-primary" (click)="filters();notificationModal.hide();">Filtrar</button>
            </div>
        </div>
        
        
    </div>
</ng-template>

    
    
    