<div class=" header pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2  d-inline-block mb-0">Tapice</h6>
          </div>
          <div class=" col-lg-6 col-5 text-right">
            <!-- <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="addCliente(modalAdd)" > Nuevo Cliente </a> -->
          </div>
        </div>
      </div>
    </div>
</div>


<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class="dataTables_wrapper py-4">
                    <div class="card">                        
                        <div class="card-body">                            
                            <h3 class="mb-0">seleccione un archivo CSV</h3>                            
                            <form [formGroup]="fileForm" novalidate>
                                <!-- <div class="custom-file"> -->
                                    <input *ngIf="onboardingService.on" [enabled]="onboardingService.on" formControlName="file"
                                        (change)="handleFile($event)"
                                        class="form-control-label"
                                        accept=".csv" 
                                        id="customFileLang" lang="pt" type="file" (click)="onboardingService.submit('importFile')"  [bdcWalkTriggerFor]="importFile" />
                                    <input *ngIf="onboardingService.on == false" formControlName="file"
                                        (change)="handleFile($event)"
                                        class="form-control-label"
                                        accept=".csv" 
                                        id="customFileLang" lang="pt" type="file"  />
                                    <!-- <label class="custom-file-label" for="customFileLang"> {{'producto.importar.labelselect'  | translate }} </label> -->
                                    <div class="alert  alert-danger" *ngIf="fileForm.get('file').hasError('required') && fileForm.get('file').touched">  
                                        Archivo es requerido
                                    </div>  
                                <!-- </div> -->
                            </form>
                            
                        </div>
                        <div class="card-footer">
                            <div class="col-lg-2 d-inline pull-right">
                                <button class="btn btn-success" [disabled]='fileForm.invalid' (click)="showMessage()">Enviar</button> 
                            </div>
                        </div>
                    </div>                    
                </div>                
            </div>
        </div>
    </div>
</div>

<bdc-walk-popup #downloadModel name="downloadModel"
  [mustCompleted]="{clickImport: true}" [showCloseButton]="false" header="Paso 4" xPosition="after">
  Haz click en descargar modelo.
</bdc-walk-popup>

<bdc-walk-popup #importFile name="importFile"
  [mustCompleted]="{downloadModel: true}" [showCloseButton]="false" header="Paso 5" xPosition="after">
  Completa los datos e importa el archivo.
</bdc-walk-popup>