<div class=" header  pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2  d-inline-block mb-0">
                {{  'vendedores.lista' | translate}}
            </h6>
          </div>
          <div class=" col-lg-6 col-5 text-right">
            <a class=" btn btn-success" href="javascript:void(0)" (click)="addVendedor(modalAdd)"> Nuevo </a>
          </div>
        </div>
      </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
        <div class=" card">
            <div class="dataTables_wrapper py-4">
                <div class="row">
                    <div class="d-none col-sm-12 col-md-2">
                      
                        <div id="datatable_filter" class="dataTables_filter">
                            <label class="form-control-label"><input type="hidden" class="form-control form-control-sm" placeholder="{{ 'cliente.tabla.buscar' | translate}}" aria-controls="datatable" (keyup)="filterTable($event)"/></label>
                        </div>
                    </div>
                </div>

                <ng-container *ngFor="let vendedor of temp ">
                    <div class="col-12" >
                        
                        <div class="card overflow-hidden">
                            <div class="posicion-opciones-mobile d-block d-md-none mr-3 text-right">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">

                                    <button mat-menu-item  (click)='onSelectItem(modalAdd,vendedor)'>
                                        <span class="fas fa-pen-alt"></span> Editar </button>
                                    <button mat-menu-item  (click)='asociarCliente(modalCliente,vendedor)'>
                                            <span class="fas fa-handshake"></span> Asociar </button>
                                    <button mat-menu-item  (click)='getPedidos(pedidos,vendedor)'>
                                            <span class="fa fa-shopping-cart"></span> Pedidos </button>
                                    
                                </mat-menu>
                            </div>
                            <div class="card-content">
                                <div class="card-body ">
                                    <div class="media align-items-stretch">
                                        <div class="col-8 col-md-9">
                                            <div class="flex-grow-1 d-flex flex-column justify-content-between align-self-between">
                                                <h4><strong>Nro Vendedor: </strong>{{vendedor.vendedor}}</h4>
                                                <span class="d-block" ><strong>Nombre:</strong> {{vendedor.nombre}}</span>
                                                <span class="d-block" ><strong>Telefono:</strong> {{vendedor.telefono}}</span>
                                                <span class="d-block"><strong>Mail:</strong> {{vendedor.email}}</span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <!-- opciones desktop -->
                                            <div class="d-none d-md-block ">
                                                <a href="javascript:void(0)" class="d-block text-info h5 font-weight-light" (click)='onSelectItem(modalAdd,vendedor)'
                                                    title="invitacion"> Editar
                                                    <span class="fas fa-pen-alt"></span>
                                                </a>
                                                <a href="javascript:void(0)" class="d-block text-info h5 font-weight-light" (click)='asociarCliente(modalCliente,vendedor)'
                                                    title="sucursales"> Asociar
                                                    <span class="fas fa-handshake"></span>
                                                </a>
                                                <a href="javascript:void(0)" class="d-block text-info h5 font-weight-light" (click)='getPedidos(pedidos,vendedor)'
                                                    title="sucursales"> Pedidos
                                                    <span class="fa fa-shopping-cart"></span>
                                                </a>
                                                <div class="d-none"></div>
                                            </div>
                                            <!-- opciones desktop -->
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </ng-container>
                <div class="table-responsive">
                    <ngb-pagination [(page)]="page" [maxSize]="7" [rotate]="true"  (pageChange)="refreshDatos()"
                 [pageSize]="pageSize" [collectionSize]="collectionSize"></ngb-pagination>
                </div>

            </div>
        </div>
        </div>
    </div>
</div>


<ng-template #modalCliente >
    <div class=" modal-header">    
        <h5 class="modal-title" >{{ 'vendedores.asociar.lista'| translate }}</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class=" modal-body  pt-0">
        
        <div class="dataTables_wrapper py-4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                    <label> {{ 'vendedores.tabla.mostrar' | translate }}
                    <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm" (change)="entriesChangeCliente($event)">
                        <option value="10" [selected]="entries == 10">10</option>
                        <option value="25" [selected]="entries == 25">25</option>
                        <option value="50" [selected]="entries == 50">50</option>
                        <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    {{ 'vendedores.tabla.entradas' | translate}}
                    </label>
                </div>
                </div>
                <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                    <label class="form-control-label"><input type="text" class="form-control form-control-sm"  
                        placeholder="{{ 'vendedores.asociar.buscar' | translate}}" 
                        aria-controls="datatable" (keyup)="filterTableCliente($event)"/>
                    </label>
                </div>
                </div>
            </div>

            <ngx-datatable [messages]="{emptyMessage: 'No se han encontrado resultados!'}"
                class="bootstrap selection-cell fullscreen" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="70"
                [limit]="entriesCliente != -1 ? entries : undefined" [rows]="clientes"  [scrollbarH]="true"
                (activate)="onActivateCliente($event)">

                <ngx-datatable-column name="cliente" [width]="200">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span> cliente</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="vendedor" [width]="200">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'vendedores.asociar.vendedor' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Acción" [width]="250">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'vendedores.tabla.acciones' | translate}}</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span>
                            <button *ngIf="row.flag == 1"  class="btn btn-sm btn-default" title="{{ 'vendedores.asociar.desasociar' | translate}}"
                                (click)='desasociar(row)'>
                                <span class="far fa-times-circle"></span> 
                            </button>
                            <button *ngIf="row.flag == 0" class="btn btn-sm btn-success" title="{{ 'vendedores.asociar.asociar' | translate}}"
                                (click)='asociar(row)'>
                                <span class="fas fa-handshake"></span> 
                            </button>
                        </span>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>

    </div>
    <div class=" modal-footer">
    </div>

</ng-template>
  
<ng-template #modalLog >
    <div class=" modal-header">    
        <h5 class="modal-title" >{{ 'vendedores.tablalog.lista'| translate }}</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class=" modal-body  pt-0">
        
        <div class="dataTables_wrapper py-4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                    <label> {{ 'vendedores.tabla.mostrar' | translate }}
                    <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm" (change)="entriesChangeLog($event)">
                        <option value="10" [selected]="entries == 10">10</option>
                        <option value="25" [selected]="entries == 25">25</option>
                        <option value="50" [selected]="entries == 50">50</option>
                        <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    {{ 'vendedores.tabla.entradas' | translate}}
                    </label>
                </div>
                </div>
                <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                    <label class="form-control-label"><input type="text" class="form-control form-control-sm" placeholder="" aria-controls="datatable" (keyup)="filterTableLog($event)"/></label>
                </div>
                </div>
            </div>

            <ngx-datatable [messages]="{emptyMessage: 'No se han encontrado resultados!'}"
                class="bootstrap selection-cell fullscreen" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [rowHeight]="70" 
                [limit]="entriesLog != -1 ? entries : undefined" [rows]="logRow"
                [scrollbarH]="true"
                (activate)="onActivateLog($event)">
                <ngx-datatable-column name="fecha">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'vendedores.tablalog.fecha' | translate}}</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        {{ row.fecha | date:'medium' }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="coords">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span> {{ 'vendedores.tablalog.coords' | translate}}</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <a target="_blank" href="https://www.google.com/maps/@{{row.coords}}">{{row.coords}}</a>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
            </div>

    </div>
    <div class=" modal-footer">
    </div>

</ng-template>


<ng-template #modalAdd >
    <div class=" modal-header">    
        <h5 class="modal-title" > {{ 'vendedores.newForm.titulo' | translate}} </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class=" modal-body  pt-0">
        <form [formGroup]="newFormVendedor" novalidate >
            
            <div class="form-row">
                <div class="form-group col col-md-4">
                    <label class="form-control-label" for="nombre">{{  'vendedores.newForm.nombre' | translate}}  </label>
                    <input type="text" formControlName="nombre" placeholder="{{ 'vendedores.newForm.nombre' | translate}}" name="nombre" class="form-control" id="nombre">
                    <div class="alert  alert-danger" *ngIf="newFormVendedor.get('nombre').hasError('required') && newFormVendedor.get('nombre').touched">  
                        {{  'vendedores.newForm.nombre' | translate}}  es obrigatório
                    </div>  
                </div>      
                <div class="form-group col col-md-4">
                    <label class="form-control-label" for="nroVendedor">{{  'vendedores.newForm.nroVendedor' | translate}}  </label>
                    <input type="text" formControlName="nrovendedor" placeholder="{{ 'vendedores.newForm.nroVendedor' | translate}}" 
                        name="nroVendedor" class="form-control" id="nroVendedor">
                    <div class="alert  alert-danger" *ngIf="newFormVendedor.get('nrovendedor').hasError('required') && newFormVendedor.get('nrovendedor').touched">  
                        {{  'vendedores.newForm.nroVendedor' | translate}}  es obrigatório
                    </div>  
                </div>                           
                <div class="form-group col-md-4">
                    <label class="form-control-label" for="telefono">{{  'vendedores.newForm.telefono' | translate}}</label>
                    <input type="text" formControlName="telefono" 
                        placeholder="+5492223334444" 
                        name="telefono" class="form-control" id="telefono">
                    <div class="alert  alert-danger" *ngIf="newFormVendedor.get('telefono').hasError('required') && newFormVendedor.get('telefono').touched">  
                        {{  'vendedores.newForm.telefono' | translate}} es obrigatório
                    </div>  
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label" for="email">{{ 'vendedores.newForm.email' | translate}}</label>
                    <input type="text" formControlName="email" placeholder="{{ 'vendedores.newForm.email' | translate}}" name="email" class="form-control" id="email">
                    <div class="alert alert-danger" *ngIf="newFormVendedor.get('email').hasError('required') && newFormVendedor.get('email').touched">  
                        {{  'vendedores.newForm.email' | translate}} es obrigatório
                    </div>  
                </div>
                <div class="form-group col col-md-4">
                    <label class="form-control-label" for="clave">Clave </label>
                    <input type="text" formControlName="clave" placeholder="Clave" 
                        name="clave" class="form-control" id="clave">
                    <div class="alert  alert-danger" *ngIf="newFormVendedor.get('clave').hasError('required') && newFormVendedor.get('clave').touched">  
                        {{  'vendedores.newForm.nroVendedor' | translate}}  es obrigatório
                    </div>  
                </div>
                <div class="form-group col col-md-3 ml-4 mt-4">
                    <div>
                        <input class="form-check-input" type="checkbox" formControlName="gerencia">
                        <label class="form-check-label" for="gerencia">
                            Puede ver todos los clientes
                        </label>
                    </div>
                </div>
            </div>
      </form>
    </div>
    <div class=" modal-footer">
        <button class="btn btn-success"  *ngIf="!btnvisibility" (click)="onUpdate()">Actualizar</button> 
        <button class="btn btn-success" [disabled]='newFormVendedor.invalid'  *ngIf="btnvisibility" (click)="onCreateVendedor()">{{ 'vendedores.newForm.guardar' | translate}}</button> 
    </div>

</ng-template>

<ng-template #pedidos>
    <div class="modal-header">
        <h3 class="modal-title" >Lista de pedidos</h3>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide();">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6" *ngFor="let producto of tempPedidos">
            <div class="card overflow-hidden">
                <div class="card-content">
                    <div class="card-body d-none d-sm-none d-md-block">
                        <div class="media h-100 d-flex flex-column">
                            <span class="d-block" ><strong>Fecha:</strong> {{producto.fecha }}</span>
                            <span class="d-block" ><strong>Nro Cliente:</strong> {{producto.nrocliente}}</span>
                            <span class="d-block"><strong>Nombre: </strong>{{producto.cliente}}</span>
                            <span class="d-block" *ngIf="producto.vendedor_id!=0" ><strong>Nro vendedor: </strong>{{producto.vendedor_id}}</span>
                            <span class="d-block"><strong>Comentario: </strong>{{producto.comentario}}</span>
                            <span class="d-block"><strong>Total:</strong>{{producto.total}}</span>
                            
                        </div>
                    </div>
                    <div class="card-body d-block d-md-none">
                       
                        <div class="media h-100 d-flex flex-column">
                            <span class="d-block" ><strong>Fecha:</strong> {{producto.fecha}}</span>
                            <span class="d-block" ><strong>Nro Cliente:</strong> {{producto.nrocliente}}</span>
                            <span class="d-block"><strong>Nombre: </strong>{{producto.cliente}}</span>
                            <span class="d-block" *ngIf="producto.vendedor_id!=0" ><strong>Nro vendedor: </strong>{{producto.vendedor_id}}</span>
                            <span class="d-block"><strong>Comentario: </strong>{{producto.comentario}}</span>
                            <span class="d-block"><strong>Total:</strong> {{producto.total}}</span>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class=" modal-footer">
        <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>{{ 'cliente.formClient.cancelar' | translate}}</button>
      </div>
</ng-template>