<div class=" header bg-maspedidos pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0">
                {{ 'banners.titulo' | translate}}</h6>
          </div>
          <div class=" col-lg-6 col-5 text-right">
            <!-- <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="addCliente(modalAdd)" > Nuevo Cliente </a> -->
          </div>
        </div>
      </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class=" card-header">
                    <div class="col-12">
                        <div class="col-lg-10 d-inline-block">
                            <h3 class=" mb-0">{{'banners.titulo'  | translate }}</h3>
                        </div>
                    </div>
                </div>
                <div class="dataTables_wrapper py-4">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <p class="ml-3">{{'banner.desktop'  | translate }}</p>
                                <!-- Image Preview -->                            
                                <div class="card-body">
                                    <form [formGroup]="uploadFormHeader" (ngSubmit)="submitHeader()">

                                        <div class="imagePreview" *ngIf="imageURLHeader && imageURLHeader !== ''">
                                            <img class="ard-img-top" [src]="imageURLHeader" 
                                                [alt]="uploadFormHeader.value.name" style="width:100%; height: 250px;">
                                        </div>                                        
                                        <div class="row">
                                            <!-- Select File -->
                                            <div class="col-lg-12">
                                                <div class="custom-file">
                                                    <label class="custom-file-label" 
                                                    for="customFileLang"> {{'banner.header.logo'  | translate }} </label>
                                                    <input formControlName="bannerr" 
                                                    type="file" accept="image/*" (change)="showPreviewHeader($event)" class="custom-file-input" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-1">
                                            <div class="col-lg-6">
                                            </div>
                                            <div class="col-lg-3 text-right">
                                                <button type="submit" 
                                                [disabled]='uploadFormHeader.invalid' 
                                                class="btn btn-success btn-sm">{{'banner.header.guardar'  | translate }} </button>
                                            </div>
                                            <div class="col-lg-3 text-right">
                                                <button type="button" (click)="deleteImage(imageURLHeader)"
                                                class="btn btn-danger btn-sm">{{'banner.header.cancelar'  | translate }} </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="card">
                                <p class="ml-3">{{'banner.movile'  | translate }}</p>
                                <!-- Image Preview -->
                                
                                <div class="card-body">
                                    <form [formGroup]="uploadFormFooter" (ngSubmit)="submitFooter()">
                                        <div class="imagePreview" *ngIf="imageURLFooter && imageURLFooter !== ''">
                                            <img class="ard-img-top" [src]="imageURLFooter" [alt]="uploadFormFooter.value.name" style="width:100%; height: 250px;">
                                        </div>
                                        <div class="row">
                                            <!-- Select File -->
                                            <div class="col-lg-12">
                                                <div class="custom-file">
                                                    <label class="custom-file-label" for="customFileLang"> {{'banner.footer.logo'  | translate }} </label>
                                                    <input formControlName="bannerr" type="file" accept="image/*" 
                                                    (change)="showPreviewFooter($event)" class="custom-file-input" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row m-1">
                                            <div class="col-lg-6">
                                            </div>
                                            <div class="col-lg-3 text-right">
                                                <button type="submit" [disabled]='uploadFormFooter.invalid' 
                                                class="btn btn-success btn-sm">{{'banner.footer.guardar'  | translate }}</button>
                                            </div>
                                            <div class="col-lg-3 text-right">
                                                <button type="button" (click)="deleteImageFooter(imageURLFooter)"
                                                class="btn btn-danger btn-sm">{{'banner.footer.cancelar'  | translate }}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div> 

                       
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>