<div class=" header pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 d-inline-block mb-0">
                {{ 'banners.titulo' | translate}}</h6>
          </div>
          <div class=" col-lg-6 col-5 text-right">
            <a class=" btn btn btn-success" href="javascript:void(0)" (click)="addBannerModal(modalBanner)" > Nuevo Banner </a>
          </div>
        </div>
      </div>
    </div>
</div>

<div class=" container-fluid mt--6" style="display: none;">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class=" card-header">
                    <div class="col-12">
                        <div class="col-lg-10 d-inline-block">
                            <h3 class=" mb-0">{{'banners.titulo'  | translate }}</h3>
                        </div>
                    </div>
                </div>
                <div class="dataTables_wrapper py-4">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <p class="ml-3">{{'banner.desktop'  | translate }}</p>
                                <!-- Image Preview -->                            
                                <div class="card-body">
                                    <form [formGroup]="uploadFormHeader" (ngSubmit)="submitHeader()">

                                        <!-- <div class="imagePreview" *ngIf="imageURLHeader && imageURLHeader !== ''">
                                            <img class="ard-img-top" [src]="imageURLHeader" 
                                                [alt]="uploadFormHeader.value.name" style="width:100%;">
                                        </div>                                         -->
                                        <div class="row">
                                            <!-- Select File -->
                                            <div class="col-lg-12">
                                                <div class="custom-file">
                                                    <label class="custom-file-label" 
                                                    for="customFileLang"> {{'banner.header.logo'  | translate }} </label>
                                                    <input formControlName="bannerr" 
                                                    type="file" accept="image/*" (change)="showPreviewHeader($event)" class="custom-file-input" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-1">
                                            <div class="col-lg-6">
                                            </div>
                                            <div class="col-lg-3 text-right">
                                                <button type="submit" 
                                                [disabled]='uploadFormHeader.invalid' 
                                                class="btn btn-success btn-sm">{{'banner.header.guardar'  | translate }} </button>
                                            </div>
                                            <div class="col-lg-3 text-right">
                                                <button type="button" (click)="deleteImage(imageURLHeader)"
                                                class="btn btn-danger btn-sm">{{'banner.header.cancelar'  | translate }} </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="card">
                                <p class="ml-3">{{'banner.movile'  | translate }}</p>
                                <!-- Image Preview -->
                                
                                <div class="card-body">
                                    <form [formGroup]="uploadFormFooter" >
                                        <div class="imagePreview" *ngIf="imageURLFooter && imageURLFooter !== ''">
                                            <img class="ard-img-top" [src]="imageURLFooter" [alt]="uploadFormFooter.value.name" style="width:100%;">
                                        </div>
                                        <div class="row">
                                            <!-- Select File -->
                                            <div class="col-lg-12">
                                                <div class="custom-file">
                                                    <label class="custom-file-label" for="customFileLang"> {{'banner.footer.logo'  | translate }} </label>
                                                    <input formControlName="bannerr" type="file" accept="image/*" 
                                                    (change)="showPreviewFooter($event)" class="custom-file-input" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row m-1">
                                            <div class="col-lg-6">
                                            </div>
                                            <div class="col-lg-3 text-right">
                                                <button type="submit" [disabled]='uploadFormFooter.invalid' 
                                                class="btn btn-success btn-sm">{{'banner.footer.guardar'  | translate }}</button>
                                            </div>
                                            <div class="col-lg-3 text-right">
                                                <button type="button" (click)="deleteImageFooter(imageURLFooter)"
                                                class="btn btn-danger btn-sm">{{'banner.footer.cancelar'  | translate }}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div> 

                       
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" row">
        <div class="col">
            <div class="card">
                <div class=" card-header mb-3">
                    <h3 class="catd-text">Banners</h3>
                </div>
                <div class="dataTables_wrapper card p-4 listado-boxes">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-8 text-right mb-3"></div>
                    </div>
                    <ng-container *ngFor="let banner of temp ">
                        <div class="col-12 py-3 card item-box">
                            <div class="row d-flex flex-md-row">
                                <div class="col-12 "><h2 class="card-title text-right">
                                <!-- opciones mobile -->
                                <div class="posicion-opciones-mobile d-block d-md-none mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)='onSelectItem(modalBanner,banner)'>
                                            <span class="fas fa-pen-alt m-1"></span>
                                            <span>Editar</span>
                                        </button>

                                        <button  mat-menu-item  (click)='deleteBanner(banner.id)'>
                                            <span class="fas fa-eye-slash  m-1"></span>
                                            <span>Eliminar</span>
                                        </button>
                                    </mat-menu>
                                </div>
                                <!-- fin opciones mobile --> 
                            </h2>
                                </div>
                                <div class="col-12 col-md-3">
                                    <img  class="img-thumbnail mr-1 mb-3 p-0 rounded-0 card-img-top foto-listado" loading="lazy" (click)="openImg(modalBannerImg,banner.rutaescritorio)"
                                                                [src]="banner.rutaescritorio | bannersImg:bucket" [alt]="banner.rutaescritorio">
                                </div>
                                <div class="col-12 col-md-2">
                                    <img  class="img-thumbnail mr-1 mb-3 p-0 rounded-0 card-img-top foto-listado" loading="lazy" (click)="openImg(modalBannerImg,banner.rutamovil)"
                                                                [src]="banner.rutamovil | bannersImg:bucket" [alt]="banner.rutamovil">
                                </div>
                                <div class="col-12 col-md-5">
                                    <div class="flex-grow-1 d-flex flex-column justify-content-between align-self-between">
                                        <h4 class="d-block"><strong>Tipo:</strong> {{banner.tipo}} </h4>
                                        <h4 class="d-block"><strong>Fecha desde: </strong>{{banner.fecha_desde |date:'dd/MM/yyyy'}}</h4>
                                        <h4 class="d-block"><strong>Fecha hasta: </strong>{{banner.fecha_hasta |date:'dd/MM/yyyy'}}</h4>
                                        <h4 class="d-block"><strong>Visible: </strong>{{banner.visible}}</h4>
                                        <h4 class="d-block"><strong>Link: </strong><a target="_blank"  rel="noopener noreferrer" href="{{banner.link}}">{{banner.link}}</a></h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2 mr-auto">
                                    <!-- opciones desktop -->
                                    <div class="d-none d-md-block ">
                                        <a href="javascript:void(0)" class="d-block text-info h5 font-weight-light" (click)='onSelectItem(modalBanner,banner)'
                                            title="Editar banner">Editar
                                            <span class="fas fa-pen-alt "></span>
                                        </a>
                                        <a href="javascript:void(0)" class="d-block text-info h5 font-weight-light" (click)='deleteBanner(banner.id)'
                                            title="Eliminar banner"> Eliminar
                                            <span class="fas fa-trash"></span>
                                        </a>
                                        <div class="d-none"></div>
                                    </div>
                                    <!-- fin opciones desktop -->
                                </div>
                                
                            </div>
                        </div> 
                    </ng-container>
                    <div class="table-responsive">
                        <ngb-pagination [(page)]="page" [maxSize]="7" [rotate]="true"  (pageChange)="refreshDatos()"
                        [pageSize]="pageSize" [collectionSize]="collectionSize"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalBanner >
    <div class="modal-header">    
        <h5 class="modal-title" *ngIf="!flagAdd">Actualizar Banner</h5>
        <h5 class="modal-title" *ngIf="flagAdd">Nuevo Banner</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>    
    <div class="modal-body ">
        <form [formGroup]="bannerForm" novalidate>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="usuario">{{ 'banner.type' | translate}}:</label>
                        <ng-select formControlName="tipo" (change)="chekTypeBanner()" >
                            <ng-option *ngFor="let item of listaTipo" [value]="item.nombre" [selected]="item.selected==true">{{item.nombre}}</ng-option>
                        </ng-select>
                    </div>
                </div>    
            </div>           
            <div class="row" style="display: flex;" *ngIf="show">
                                          
                <div class="col-md-6" *ngIf="flagBanners">                

                    <div class="custom-file">
                        <label class="custom-file-label" for="customFileLang"> {{'banner.desktop'  | translate }} </label>
                        <input formControlName="escritorio" type="file" accept=".jpg, .png" class="custom-file-input" 
                        (change)="showPreviewHeaderEscritorio($event)" />
                        <div class="alert  alert-danger" *ngIf="bannerForm.get('escritorio').hasError('required') && bannerForm.get('escritorio').touched">
                            {{'banner.desktop'  | translate }} es requerido
                        </div>  
                    </div>    
                    <div class="imagePreview" *ngIf="imageURLHeader && imageURLHeader !== ''">
                        <img class="ard-img-top" [src]="imageURLHeader" 
                           alt="movil" style="width:100%;">
                    </div>                        
                </div>
            
                <div class="col-md-6" *ngIf="flagBanners">
                    <div class="custom-file">
                        <label class="custom-file-label" for="customFileLang"> {{'banner.movile'  | translate }} </label>
                        <input formControlName="movil" type="file" accept=".jpg, .png" (change)="showPreviewHeaderMovil($event)" class="custom-file-input" />                        
                    </div>       
                    <div class="imagePreview" *ngIf="imageURLMobil && imageURLMobil !== ''">
                        <img class="ard-img-top" [src]="imageURLMobil" 
                           alt="movil" style="width:100%;">
                    </div>                    
                </div>

                <div class="col-md-6" *ngIf="flagBannersAviso">                      
                    
                    <div class="custom-file">
                        <label class="custom-file-label" for="customFileLang">  </label>
                        <input formControlName="escritorio" type="file" accept=".jpg, .png" class="custom-file-input" 
                        (change)="showPreviewHeaderEscritorio($event)" />
                        <div class="alert  alert-danger" *ngIf="bannerForm.get('escritorio').hasError('required') && bannerForm.get('escritorio').touched">
                            imagen es requerido
                        </div>  
                    </div>    
                    <div class="imagePreview" *ngIf="imageURLHeader && imageURLHeader !== ''">
                        <img class="ard-img-top" [src]="imageURLHeader" 
                           alt="movil" style="width:100%;">
                    </div>    
                </div>
                
            </div>
            <div class="row mt-3" style="display: flex;" *ngIf="show">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <label for="" class="form-control-label">Fecha Inicio</label>
                        <input type="date" formControlName="fecha_desde" class="form-control"  name="fecha_desde" >
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <label for="" class="form-control-label">Fecha Fin</label>
                        <input type="date" class="form-control" name="fecha_hasta" formControlName="fecha_hasta">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="" class="form-control-label">Link</label>
                        <input type="text" class="form-control" placeholder="https://www.ejemplo.com" name="link" formControlName="link">
                    </div>
                </div>
            </div>
            
            
        </form>
    </div>
    <div class=" modal-footer">
        <button *ngIf="!flagAdd" class="btn btn-success" [disabled]='bannerForm.invalid'  (click)="updateBanner()">{{ 'banner.update' | translate}}</button>
        <button *ngIf="flagAdd" class="btn btn-success" [disabled]='bannerForm.invalid' (click)="addBanner()">{{ 'banner.save' | translate}}</button>
        <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>{{ 'banner.cancel' | translate}}</button>
    </div>
</ng-template>

<ng-template #modalBannerImg >
    <div class="modal-header">    
        <h5 class="modal-title" >Banners</h5>
        
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>    
    <div class="modal-body ">    
        <div class="row" style="display: flex;">                      
            <div class="col-md-12" >                
                <div class="imagePreview text-center" >
                    <img class="ard-img-top" [src]="ruta" alt="movil" style="max-width: 100%;" >
                </div>                        
            </div>
        </div>   
    </div>
    <div class=" modal-footer">
        <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i> Cerrar</button>
    </div>
</ng-template>