<div class=" header bg-maspedidos pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0 mr-1">{{  'producto.titulo' | translate}}</h6>
            <a class=" btn btn-sm btn-primary" href="javascript:void(0)" (click)="destacadoProducts(modaDestacadoProducto)"> Destacados </a>
            <a class=" btn btn-sm btn-success" href="javascript:void(0)" *ngIf="cambios" (click)="gurdarcambios()"> Guardar cambios </a>

          </div>
          <div class=" col-lg-6 col-5 text-right">
            <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="newProduct(modalEditProducto)"> Nuevo </a>
          </div>
        </div>
      </div>
    </div>
</div>


<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
        <div class=" card">
            <div class=" card-header">
            <!-- <h3 class=" mb-0">Lista de Vendedores</h3> -->
            </div>
            <div class="dataTables_wrapper py-4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                    <label> {{ 'producto.tabla.mostrar' | translate}}
                    <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm" (change)="entriesChange($event)">
                        <option value="10" [selected]="entries == 10">10</option>
                        <option value="25" [selected]="entries == 25">25</option>
                        <option value="50" [selected]="entries == 50">50</option>
                        <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    {{ 'producto.tabla.entradas' | translate}}
                    </label>
                </div>
                </div>
                <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                    <label><input type="text" class="form-control form-control-sm" placeholder="{{ 'producto.tabla.buscar' | translate}}" aria-controls="datatable" (keyup)="filterTable($event)"/></label>
                </div>
                </div>
            </div>
    
            <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined" [rows]="rows"  (activate)="onActivate($event)">
                
                <ngx-datatable-column name="titulo">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.titulo' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="codigo">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.codigo' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="caracteristica1">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.caracteristica' | translate}} 1</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="caracteristica2">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.caracteristica' | translate}} 2</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="caracteristica3">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.caracteristica' | translate}} 3</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="precio">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.precio' | translate}} </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="activo">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'cliente.tabla.activo' | translate}}</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span *ngIf="value == 1" class="fas fa-eye"> </span>
                        <span *ngIf="value == 0"  class="fas fa-eye-slash"> </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Acción" >
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.acciones' | translate}}</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span>
                            <button class="btn btn-sm btn-primary" (click)='onSelectItem(modalEditProducto,row)' title="{{ 'producto.tabla.editar' | translate}}"><span class="fas fa-pen-alt"></span> </button>
                            <button class="btn btn-sm btn-success" *ngIf="row.activo == 0" (click)='onActiveClient(row)' title="{{ 'producto.tabla.habilitar' | translate}}"><span class="fas fa-check-square"></span> </button>
                            <button class="btn btn-sm btn-danger" *ngIf="row.activo == 1" (click)='onDisableActive(row)' title="{{ 'producto.tabla.deshabilitar' | translate}}"><span class="fas fa-times-circle"></span> </button>
                            <button class="btn btn-sm btn-info" (click)='modalFoto(modalfoto,row)' title="{{ 'producto.tabla.foto' | translate}}"><span class="fas fa-file-image"></span> </button>
                           
                            <button class="btn btn-sm btn-info" *ngIf="row.destacado == 0" (click)='habilitarDestacado(row)' title="{{ 'producto.tabla.destacadoA' | translate}}"><span class="fas fas fa-check-circle"></span> </button>
                            <button class="btn btn-sm btn-neutral" *ngIf="row.destacado == 1" (click)='deshabilitarDestacado(row)' title="{{ 'producto.tabla.destacadoD' | translate}}"><span class="fa fa-exclamation-triangle"></span> </button>
                        </span>
                      </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
            </div>
        </div>
        </div>
    </div>
</div>


<ng-template #modalEditProducto >
    <div class=" modal-header">    
        <h5 class="modal-title" >{{ 'producto.tituloEdit' | translate }}</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class="modal-body pt-0">
        <form [formGroup]="editForm" novalidate>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="titulo">{{ 'producto.formEdit.titulo' | translate }}:</label>
                        <input type="text" formControlName="titulo" placeholder="Titulo" name="titulo" class="form-control" id="titulo">
                         
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="codigo_producto">{{ 'producto.formEdit.codigo' | translate }}:</label>
                        <input type="text" formControlName="codigo_producto" placeholder="Codigo" name="codigo_producto" class="form-control" id="codigo_producto">
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="precio">{{ 'producto.formEdit.precio' | translate }}:</label>
                        <input type="text" formControlName="precio" placeholder="precio" name="precio" class="form-control" id="precio">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="stock">{{ 'producto.formEdit.stork' | translate }}:</label>
                        <input type="text" formControlName="stock" placeholder="stock" name="stock" class="form-control" id="stock">
                         
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cantidad_minima">{{ 'producto.formEdit.cantidadMin' | translate }}:</label>
                        <input type="text" formControlName="cantidad_minima" placeholder="cantidad minima" name="cantidad_minima" class="form-control" id="cantidad_minima">
                    </div>
                </div> 

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="stock_minimo">{{ 'producto.formEdit.stockMin' | translate }}:</label>
                        <input type="text" formControlName="stock_minimo" placeholder="stock minimo" name="stock_minimo" class="form-control" id="stock_minimo">
                    </div>
                </div> 

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="precio_oferta">{{ 'producto.formEdit.precioOferta' | translate }}:</label>
                        <input type="text" formControlName="precio_oferta" placeholder="precio oferta" name="precio_oferta" class="form-control" id="precio_oferta">
                    </div>
                </div> 
            </div>
            <div class="row">
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="caracteristica1">{{ 'producto.formEdit.caracteristica' | translate }} 1:</label>
                        <input type="text" formControlName="caracteristica1" placeholder="{{ 'producto.formEdit.caracteristica' | translate }} 1" name="caracteristica1" class="form-control" id="caracteristica1">
                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="caracteristica2">{{ 'producto.formEdit.caracteristica' | translate }} 2:</label>
                        <input type="text" formControlName="caracteristica2" placeholder="{{ 'producto.formEdit.caracteristica' | translate }} 2" name="caracteristica2" class="form-control" id="caracteristica2">
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="caracteristica3">{{ 'producto.formEdit.caracteristica' | translate }} 3:</label>
                        <input type="text" formControlName="caracteristica3" placeholder="{{ 'producto.formEdit.caracteristica' | translate }} 3" name="caracteristica3" class="form-control" id="caracteristica3">
                        
                    </div>
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="caracteristica4">{{ 'producto.formEdit.caracteristica' | translate }} 4:</label>
                        <input type="text" formControlName="caracteristica4" placeholder="{{ 'producto.formEdit.caracteristica' | translate }} 4" name="caracteristica4" class="form-control" id="caracteristica4">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="solapa1">{{ 'producto.formEdit.solapa' | translate }} 1:</label>
                        <input type="checkbox" formControlName="solapa1" placeholder="{{ 'producto.formEdit.solapa' | translate }}" name="solapa1" class="form-control" id="solapa1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="solapa2">{{ 'producto.formEdit.solapa' | translate }} 2:</label>
                        <input type="checkbox" formControlName="solapa2" placeholder="{{ 'producto.formEdit.solapa' | translate }}" name="solapa2" class="form-control" id="solapa2">
                    </div>
                </div>  

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="destacado">{{ 'producto.formEdit.destacado' | translate }}:</label>
                        <input type="checkbox" formControlName="destacado" placeholder="{{ 'producto.formEdit.destacado' | translate }}" name="destacado" class="form-control" id="destacado">
                    </div>
                </div>
                <!-- <div class="col-md-2">
                    <div class="form-group">
                        <label for="sync">Sync:</label>
                        <input type="checkbox" formControlName="sync" placeholder="sync" name="sync" class="form-control" id="sync">
                    </div>
                </div>   
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="fecha_sync">Fecha sync:</label>
                        <input class="form-control"  name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" formControlName="fecha_sync" placeholder="yyyy-mm-dd"  id="fecha_sync">
                    </div>
                </div> -->
            </div>
            <div class="row">
                
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="descripcion">{{ 'producto.formEdit.descripcion' | translate }}:</label>
                        <textarea formControlName="descripcion"  name="descripcion" id="" cols="50" rows="5" class="form-control"></textarea>
                        <!-- <input type="text" formControlName="descripcion" placeholder="descripcion" name="descripcion" class="form-control" id="descripcion"> -->
                    </div>
                </div>
                
            </div>
        </form>
    </div>
    <div class=" modal-footer">
      <button class="btn btn-success" [disabled]='editForm.invalid' *ngIf="!btnvisibility" (click)="updateProduct()" >{{ 'producto.formEdit.actualizar' | translate }}</button> 
      <button class="btn btn-success" [disabled]='editForm.invalid' *ngIf="!btnvisibilityIn" (click)="insertProduct()" >{{ 'producto.formEdit.guardar' | translate }}</button> 
      <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>{{ 'producto.formEdit.cancelar' | translate }}</button>
    </div>

</ng-template>

<ng-template #modalfoto >
    <div class=" modal-header">    
        <h5 class="modal-title" >{{ 'producto.grid.titulo' | translate }}</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class=" modal-body  pt-0">
        
        <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="..." alt="Card image cap">
            </div>            
        </div>
    </div>
        
    <div class=" modal-footer">
      <button class="btn bg-zeene ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>Cancelar</button>
    </div>

</ng-template>

<ng-template #modaDestacadoProducto >
    <div class=" modal-header">    
        <h5 class="modal-title" >{{ 'producto.destacado.titulo' | translate }}</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class=" modal-body  pt-0">
        
        <div class="dataTables_wrapper py-4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                    <label> {{ 'producto.tabla.mostrar' | translate}}
                    <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm" (change)="entriesChangeDestacados($event)">
                        <option value="10" [selected]="entries == 10">10</option>
                        <option value="25" [selected]="entries == 25">25</option>
                        <option value="50" [selected]="entries == 50">50</option>
                        <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    {{ 'producto.tabla.entradas' | translate}}
                    </label>
                </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div id="datatable_filter" class="dataTables_filter">
                        <label><input type="text" class="form-control form-control-sm" placeholder="{{ 'producto.tabla.buscar' | translate}}" aria-controls="datatable" (keyup)="filterTableDestacado($event)"/></label>
                    </div>
                </div>
            </div>
    
            <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined" [rows]="destacados"  (activate)="onActivate($event)">                
                <ngx-datatable-column name="titulo">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.titulo' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="codigo">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.codigo' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="caracteristica1">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.caracteristica' | translate}} 1</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="caracteristica2">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.caracteristica' | translate}} 2</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="caracteristica3">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.caracteristica' | translate}} 3</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="precio">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.precio' | translate}} </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="activo">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'cliente.tabla.activo' | translate}}</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span *ngIf="value == 1" class="fas fa-eye"> </span>
                        <span *ngIf="value == 0"  class="fas fa-eye-slash"> </span>
                    </ng-template>
                </ngx-datatable-column>
               
            </ngx-datatable>
        </div>
    </div>
        
    <div class=" modal-footer">
      <button class="btn bg-zeene ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>Cancelar</button>
    </div>

</ng-template>