<div class=" header  pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-4 col-7">
            <h6 class=" h2  d-inline-block mb-0 mr-1">{{  'producto.titulo' | translate}}</h6>
            
          </div>
          <div class=" col-lg-8 col-5 text-right">
              <a *ngIf="onboardingService.on" [enabled]="onboardingService.on" 
                class=" btn btn-sm btn-neutral" href="javascript:void(0)" 
                (click)="newProduct(modalEditProducto); onboardingService.submit('clickNewProduct')" 
                [bdcWalkTriggerFor]="clickNewProduct"> Nuevo </a>

              
              <a *ngIf="!onboardingService.on" class=" btn btn-success" 
              href="javascript:void(0)" (click)="newProduct(modalEditProducto)"> Nuevo Producto</a>
          </div>
        </div>
      </div>
    </div>
</div>


<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class=" card-header">
                    <h3 class="catd-text">Filtros</h3>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <div class="from-group">
                                <label class="form-control-label">{{ 'producto.formEdit.codigo' | translate }}</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="codigoP"
                                        placeholder="{{ 'producto.tabla.buscar' | translate}}" aria-controls="datatable" 
                                        (keyup)="filtraCat()"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="from-group">
                                <label class="form-control-label">Titulo</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="tituloP"
                                        placeholder="{{ 'producto.tabla.titulo' | translate}}" aria-controls="datatable" 
                                        (keyup)="filtraCat()"/>
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="textCaract1">
                            <div class="from-group">
                                <label class="form-control-label" for="">{{textCaract1}}</label>
                                <ng-select  [items]="arrayCaracteristica1" [(ngModel)]="selectCara1" class="custom"
                                bindValue="nombre"  (change)="filtraCat()" bindLabel="nombre"
                                [clearSearchOnAdd]="true"></ng-select>
                            </div>
                        </div>
                        <div class="col-md-3"  *ngIf="textCaract2">
                            <div class="from-group">
                                <label class="form-control-label" for="">{{textCaract2}}</label>
                                <ng-select (change)="filtraCat()"[(ngModel)]="selectCara2" 
                                bindValue="nombre" [items]="arrayCaracteristica2" bindLabel="nombre">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-3"  *ngIf="textCaract3">
                            <div class="from-group">
                                <label class="form-control-label" for="">{{textCaract3}}</label>
                                <ng-select (change)="filtraCat()" [(ngModel)]="selectCara3" 
                                    bindValue="nombre"[items]="arrayCaracteristica3" bindLabel="nombre">
                                </ng-select>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="from-group">
                                <label for="">Destacados </label>
                                <ng-select  (change)="filtraCat()" [(ngModel)]="selectDest"
                                    bindValue="id" [items]="arrayDestacados" bindLabel="nombre">
                                </ng-select>                      
                            </div>
                        </div> -->
                        <div class="col-12 col-md-3">
                            <!-- <div class="from-group"> -->
                                <div class="mt-4">
                                    <label class="form-control-label"> Destacados </label>
                                    <input type="checkbox" [(ngModel)]="activoCliente" class="m-2 border-2"
                                    value="true" aria-controls="datatable" (click)="cambia()"/>
                                </div>
                            <!-- </div> -->
                        </div>
                        <div class="col-md-12 mt-3">
                            <button class="btn btn-sm btn-primary" (click)="eliminar()">Limpiar búsqueda</button>
                        </div>
                    </div>
                </div>
                <div class="dataTables_wrapper py-4 listado-boxes">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                        
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-8 text-right mb-3">

                                <a *ngIf="rows.length > 0" class="btn btn-sm btn-warning" 
                                href="javascript:void(0)" (click)="disableAll()"> Desactivar todos <span class="fas fa-times-circle"></span>
                                </a>

                                <a *ngIf="rows.length > 0" class="btn btn-sm btn-success" 
                                href="javascript:void(0)" (click)="activeAll()"> Activar todos <span class="fas fa-check"></span></a>

                                <a *ngIf="!onboardingService.on" class="btn btn-sm btn-danger mr-3" 
                                href="javascript:void(0)" (click)="deleteAll()"> Eliminar todos <span class="fas fa-trash"></span>
                                </a>
                        </div>
                        
                    </div>
                    <ng-container *ngFor="let producto of rows ">
                        <div class="col-12 py-3 item-box">
                            <div class="row">
                                <div class="col-12 "><h2 class="card-title text-center">{{producto.titulo}}
                                <!-- opciones mobile -->
                                <div class="posicion-opciones-mobile d-block d-md-none mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)='onSelectItem(modalEditProducto,producto)'>
                                            <span class="fas fa-pen-alt m-1"></span>
                                        <span>{{ 'producto.tabla.editar' | translate}}</span>
                                        </button>

                                        <button  mat-menu-item  *ngIf="producto.activo == 0" (click)='onActiveClient(producto)'>
                                            <span class="fas fa-eye-slash  m-1"></span>
                                            <span>{{ 'producto.tabla.habilitar' | translate}}</span>
                                        </button>

                                        <button  mat-menu-item  *ngIf="producto.activo == 1" (click)='onDisableActive(producto)' >
                                            <span class="fas fa-eye  m-1"></span>
                                            <span>{{ 'producto.tabla.deshabilitar' | translate}}</span>
                                        </button>

                                        <button  mat-menu-item  *ngIf="producto.destacado == 0" (click)='habilitarDestacado(producto)' >
                                            <span class="fas fas fa-star  m-1"></span>
                                            <span>{{ 'producto.tabla.destacadoA' | translate}}</span>

                                        </button>

                                        <button  mat-menu-item *ngIf="producto.destacado == 1" (click)='deshabilitarDestacado(producto)' >
                                            <span class="fa fa-star  m-1"></span>
                                            <span>{{ 'producto.tabla.destacadoD' | translate}}</span>
                                        </button>

                                        <button  mat-menu-item (click)='deleteProduct(producto.id)'>
                                            <span class="fas fa-trash  m-1"></span>
                                            <span>{{ 'producto.tabla.delete' | translate}}</span>
                                        </button>
                                    </mat-menu>
                                </div>
                                <!-- fin opciones mobile --> 
                            </h2>
                                </div>
                                <div class="col-4 col-md-2 ">
                                    <img *ngIf="producto.fotos.length > 0" loading="lazy" src="https://maspedidos.s3.us-west-2.amazonaws.com/maspedidos/{{bucket}}/fotos/{{ producto.fotos | convertJsonFotos }}" class="img-thumbnail mr-1 mb-3 card-img-top foto-listado" alt="{{producto.fotos[0]}}" (error)="onImgError($event)">
                                </div>
                                <div class="col-8 col-md-7">
                                    <div class="flex-grow-1 d-flex flex-column justify-content-between align-self-between">
                                        <h4 class="d-block" *ngIf="producto.codigo"><strong>Codigo:</strong> {{producto.codigo}} </h4>
                                        <h4 class="d-block" *ngIf="this.textCaract1"><strong>{{this.textCaract1}}: </strong>{{producto.caracteristica1}}</h4>
                                        <h4 class="d-block" *ngIf="this.textCaract2"><strong>{{this.textCaract2}}: </strong>{{producto.caracteristica2}}</h4>
                                        <h4 class="d-block" *ngIf="this.textCaract3"><strong>{{this.textCaract3}}: </strong>{{producto.caracteristica3}}</h4>
                                        <h3 class="d-block" *ngIf="producto.precio"><strong>Precio:</strong> {{ configuraciones["moneda"] }} {{producto.precio}}</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    
                                    <!-- opciones desktop -->
                                    <div class="d-none d-md-block ">
                                        <a href="javascript:void(0)" class="d-block text-info h5 font-weight-light" (click)='onSelectItem(modalEditProducto,producto)'
                                            title="{{ 'producto.tabla.editar' | translate}}"> {{ 'producto.tabla.editar' | translate}}
                                            <span class="fas fa-pen-alt "></span>
                                        </a>
                                        <a href="javascript:void(0)" class="d-block text-info h5 font-weight-light" (click)='onActiveClient(producto)'
                                            *ngIf="producto.activo == 0" title="{{ 'producto.tabla.habilitar' | translate}}">{{ 'producto.tabla.habilitar' | translate}}
                                            <span class="fas fa-eye-slash "></span>
                                        </a>
                                        <a href="javascript:void(0)" class="d-block text-info h5 font-weight-light" *ngIf="producto.activo == 1"
                                            (click)='onDisableActive(producto)' title="{{ 'producto.tabla.deshabilitar' | translate}}">{{ 'producto.tabla.deshabilitar' | translate}}
                                                <span class="fas fa-eye "></span>
                                        </a>
                                        <a href="javascript:void(0)" class="d-block text-info h5 font-weight-light" *ngIf="producto.destacado == 0"
                                            (click)='habilitarDestacado(producto)' title="{{ 'producto.tabla.destacadoA' | translate}}">{{ 'producto.tabla.destacadoA' | translate}} <span class="fas fas fa-star "></span>
                                        </a>
                                        <a href="javascript:void(0)" class="d-block text-info h5 font-weight-light" *ngIf="producto.destacado == 1"
                                            (click)='deshabilitarDestacado(producto)' title="{{ 'producto.tabla.destacadoD' | translate}}">{{ 'producto.tabla.destacadoD' | translate}} <span class="fa fa-star "></span>
                                        </a>
                                        <a href="javascript:void(0)"
                                            (click)='deleteProduct(producto.id)'class="d-block text-info h5 font-weight-light"  title="{{ 'producto.tabla.delete' | translate}}">{{ 'producto.tabla.delete' | translate}} <span class="fas fa-trash "></span>
                                        </a>
                                        <div class="d-none"></div>
                                    </div>
                                    <!-- opciones desktop -->
                                </div>
                               
                            </div>
                            
                        </div> 
                    </ng-container>
                    <div class="table-responsive">
                        <ngb-pagination [(page)]="page" [maxSize]="7" [rotate]="true"  (pageChange)="refreshDatos()"
                     [pageSize]="pageSize" [collectionSize]="collectionSize"></ngb-pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<ng-template #modalEditProducto >
<form [formGroup]="editForm" novalidate >
    <div class=" modal-header">    
        <h5 class="modal-title" *ngIf="textAddOrEdit" >{{ 'producto.tituloEdit' | translate }}</h5>
        <h5 class="modal-title" *ngIf="!textAddOrEdit" >{{ 'producto.tituloAdd' | translate }}</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class="modal-body pt-0">
        
        <div class="card-wrapper bg-white">
            <div class="card">
                <div class="card-header">
                    <h3>Datos Básicos</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="form-control-label" for="titulo">{{ 'producto.formEdit.titulo' | translate }} ( * requerido ):</label>
                                <input type="text" formControlName="titulo" placeholder="Titulo" name="titulo" class="form-control" id="titulo">
                                <div class="alert  alert-danger" *ngIf="editForm.get('titulo').hasError('required') && editForm.get('titulo').touched">  
                                    {{ 'producto.formEdit.titulo' | translate }} es obrigatório
                                </div>  
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="form-control-label" for="codigo_producto">{{ 'producto.formEdit.codigo' | translate }}  ( * requerido ):</label>
                                <input type="text" formControlName="codigo_producto" placeholder="Codigo" name="codigo_producto" class="form-control" id="codigo_producto">
                                <div class="alert  alert-danger" *ngIf="editForm.get('codigo_producto').hasError('required') && editForm.get('codigo_producto').touched">  
                                    {{ 'producto.formEdit.codigo' | translate }} es obrigatório
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label" for="precio">{{ 'producto.formEdit.precio' | translate }}  ( * requerido ):</label>
                                <input type="number" formControlName="precio" placeholder="precio" name="precio" class="form-control" id="precio">
                                <div class="alert  alert-danger" *ngIf="editForm.get('precio').hasError('required') && editForm.get('precio').touched">  
                                    {{ 'producto.formEdit.precio' | translate }} es obrigatório
                                </div>  
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label" for="precio_oferta">{{ 'producto.formEdit.precioOferta' | translate }}:</label>
                                <input type="text" formControlName="precio_oferta" placeholder="precio oferta" name="precio_oferta" class="form-control" id="precio_oferta">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label" for="cantidad_minima">{{ 'producto.formEdit.cantidadMin' | translate }}:</label>
                                <input type="text" formControlName="cantidad_minima" placeholder="cantidad minima" name="cantidad_minima" class="form-control" id="cantidad_minima">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label" for="stock">{{ 'producto.formEdit.stock' | translate }}:</label>
                                <input type="text" formControlName="stock" placeholder="stock" name="stock" class="form-control" id="stock">
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label" for="stock_minimo">{{ 'producto.formEdit.stockMin' | translate }}:</label>
                                <input type="text" formControlName="stock_minimo" placeholder="stock minimo" name="stock_minimo" class="form-control" id="stock_minimo">
                            </div>
                        </div> 
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-control-label" for="multiplo">{{ 'producto.formEdit.multiplo' | translate }}:</label>
                                <input type="text" formControlName="multiplo" placeholder="Múltiplo" name="multiplo" class="form-control" id="multiplo">
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="descripcion">{{ 'producto.formEdit.descripcion' | translate }}:</label>
                                <textarea formControlName="descripcion"  name="descripcion" id="" cols="50" rows="5" class="form-control"></textarea>
                                <!-- <input type="text" formControlName="descripcion" placeholder="descripcion" name="descripcion" class="form-control" id="descripcion"> -->
                            </div>
                        </div>
                        
                    </div>                  
                </div>
            </div>
        </div>
        
        <div class="card-wrapper bg-white">
            <div class="card">
                <div class="card-header">
                    <h3>Características</h3>
                </div>
                <div class="card-body">
                
                    <div class="row caracteristicas" *ngIf="textCaract1">
                        <div class="col-md-3 col-xs-12">
                            <div *ngIf="textCaract1" class="form-group">
                                <label class="form-control-label" for="caracteristica1">{{textCaract1}}:</label> 
                                
                                <ng-select *ngIf="!addTextCaract" formControlName="caracteristica1"
                                    [items]="arrayCaracteristica1" 
                                    bindLabel="nombre">
                                </ng-select>
                                <input *ngIf="addTextCaract"  type="text" 
                                    formControlName="caracteristica1" placeholder="{{ 'producto.formEdit.caracteristica' | translate }} 1" 
                                    name="caracteristica1" class="form-control" id="caracteristica1">
                                <button *ngIf="!ver_agregar_1" class="btn btn-sm btn-info mt-3" type="button" (click)="addNewCarat1()"> 
                                    <span class="fas fa-plus"></span> Agregar nueva
                                </button>
                                
                                <button *ngIf="ver_agregar_1" class="btn btn-sm btn-warning mt-3" type="button" (click)="addNewCarat1()"> 
                                    <span class="fas fa-times"></span> Cancelar
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div *ngIf="textCaract2" class="form-group">
                                <label class="form-control-label" for="caracteristica2">{{textCaract2}}:</label>
                                
                                <ng-select *ngIf="!addTextCaract2" formControlName="caracteristica2"
                                    [items]="arrayCaracteristica2" 
                                    bindLabel="nombre">
                                </ng-select>
                                <input  *ngIf="addTextCaract2" type="text" 
                                    formControlName="caracteristica2" placeholder="{{ 'producto.formEdit.caracteristica' | translate }} 2" (keydown.enter)="$event.preventDefault()"
                                    name="caracteristica2" class="form-control" id="caracteristica2">

                                    <button *ngIf="!ver_agregar_2" class="btn btn-sm btn-info mt-3" type="button" (click)="addNewCarat2()"> 
                                        <span class="fas fa-plus"></span> Agregar nueva
                                    </button>
                                   
                                    <button *ngIf="ver_agregar_2" class="btn btn-sm btn-warning mt-3" type="button" (click)="addNewCarat2()"> 
                                        <span class="fas fa-times"></span> Cancelar
                                    </button>   
                                
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div *ngIf="textCaract3" class="form-group">
                                <label class="form-control-label" for="caracteristica3">{{textCaract3}}:</label>
                              
                                <ng-select *ngIf="!addTextCaract3" formControlName="caracteristica3"
                                    [items]="arrayCaracteristica3" 
                                    bindLabel="nombre">
                                </ng-select>
                                <input *ngIf="addTextCaract3" type="text" 
                                    formControlName="caracteristica3" placeholder="{{ 'producto.formEdit.caracteristica' | translate }} 3" name="caracteristica3" class="form-control" id="caracteristica3">
                                
                                    <button *ngIf="!ver_agregar_3" class="btn btn-sm btn-info mt-3" type="button" (click)="addNewCarat3()"> 
                                        <span class="fas fa-plus"></span> Agregar nueva
                                    </button>
                                   
                                    <button *ngIf="ver_agregar_3" class="btn btn-sm btn-warning mt-3" type="button" (click)="addNewCarat3()"> 
                                        <span class="fas fa-times"></span> Cancelar
                                    </button>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div *ngIf="textCaract4" class="form-group">
                                <label class="form-control-label" for="caracteristica4">{{textCaract4}}:</label>
                                
                                <ng-select *ngIf="!addTextCaract4" formControlName="caracteristica4"
                                    [items]="arrayCaracteristica4"
                                    bindLabel="nombre">
                                </ng-select>
                                <input *ngIf="addTextCaract4" type="text" 
                                    formControlName="caracteristica4" placeholder="{{ 'producto.formEdit.caracteristica' | translate }} 4" name="caracteristica4" class="form-control" id="caracteristica4">
                            
                                    <button *ngIf="!ver_agregar_4" class="btn btn-sm btn-info mt-3" type="button" (click)="addNewCarat4()"> 
                                        <span class="fas fa-plus"></span> Agregar nueva
                                    </button>
                                   
                                    <button *ngIf="ver_agregar_4" class="btn btn-sm btn-warning mt-3" type="button" (click)="addNewCarat4()"> 
                                        <span class="fas fa-times"></span> Cancelar
                                    </button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-xs-12 help-box w-50">                                                          
                        <div class="text-dark">
                          <a class="cursor-pointer">  
                              <span class="text-primary">
                                <i class="fas fa-question-circle"></i> ¿Tenés dudas?
                              </span> | Más información sobre las características </a>
                        </div>
                    </div>
                </div>        
            </div>   
        </div> 

        <div class="card-wrapper bg-white">
            <div class="card">
                    <div class="card-header">
                        <h3>Destacado</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="destacado">
                                        {{ 'producto.formEdit.destacado' | translate }}:</label>
                                    <input type="checkbox" formControlName="destacado" 
                                        placeholder="{{ 'producto.formEdit.destacado' | translate }}" name="destacado" class="ml-1" style="height: 18;width: 18px;" id="destacado">
                                </div>
                            </div>
                            </div>
                            
                    
                    </div>   
            </div>
        </div>

        <div class="card-wrapper bg-white">
            <div class="card">
                    <div class="card-header">
                        <h3>Unidades</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="unit">{{ 'producto.formEdit.unit' | translate }}:</label>
                                    <input type="text" formControlName="unit" 
                                    placeholder="{{ 'producto.formEdit.unit' | translate }}" name="unit" 
                                    class="ml-1 form-control" id="unit">
                                </div>
                            </div>
                        </div>                                                
                    </div>   
            </div>
        </div>
        <div class="card-wrapper bg-white">
            <div class="card">
                    <div class="card-header">
                        <h3>Status</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="status">{{ 'producto.formEdit.status' | translate }}:</label>
                                    <input type="checkbox" formControlName="status" style="height: 18;width: 18px;"
                                    placeholder="{{ 'producto.formEdit.status' | translate }}" name="status" 
                                    class="ml-1" id="status" value="false">
                                </div>
                            </div>
                        </div>                                                
                    </div>   
            </div>
        </div>

        <div class="card-wrapper bg-white">
            <div class="card">
                <div class="card-header">
                    <h3>Fotos</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label for="foto" 
                                    class="form-control-label">{{ 'producto.formEdit.foto' | translate }}</label>
                                <input type="file" accept="image/*"  name="file" accept=".png, .jpg, .jpeg" multiple
                                    (change)="showPreviewHeader($event)" formControlName="foto"  class="form-control">
                            </div>
                        </div>
                    
                    </div>
                    <div class="row">
                        <div class="col-3 mb-3" *ngFor="let foto of fotos; let i = index">
                            <div class="card-group">
                                <div class="card text-center" >
                                    <img class="card-img-top " src="{{foto.img.toLowerCase()}}" alt="Card image cap">
                                    <div class="card-body">
                                        <a href="javascript::void()" (click)="eliminarFoto(foto, i)" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>    
        </div>    

    </div>       
                    
    
    <div class=" modal-footer">
        <button class="btn btn-success" [disabled]='editForm.invalid' *ngIf="!btnvisibility" (click)="updateProduct()" >{{ 'producto.formEdit.actualizar' | translate }}</button>
        <button *ngIf="onboardingService.on && !btnvisibilityIn" [enabled]="onboardingService.on" class="btn btn-success" [disabled]='editForm.invalid'
         (click)="insertProduct(); onboardingService.submit('completeProducts')" [bdcWalkTriggerFor]="completeProducts">{{ 'producto.formEdit.guardar' | translate }}</button>
        <button *ngIf="!onboardingService.on && !btnvisibilityIn" class="btn btn-success" [disabled]='editForm.invalid' (click)="insertProduct()" >{{ 'producto.formEdit.guardar' | translate }}</button>
        <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="cerrarmodal()"> <i class="fa fa-times-circle" ></i>{{ 'producto.formEdit.cancelar' | translate }}</button>
    </div>
</form>
</ng-template>

<ng-template #modalfoto >
    <div class=" modal-header">    
        <h5 class="modal-title" >{{ 'producto.grid.titulo' | translate }}</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class=" modal-body  pt-0">
        
        <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="..." alt="Card image cap">
            </div>            
        </div>
    </div>
        
    <div class=" modal-footer">
      <button class="btn bg-zeene ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>Cancelar</button>
    </div>

</ng-template>

<ng-template #modaDestacadoProducto >
    <div class=" modal-header">    
        <h5 class="modal-title" >{{ 'producto.destacado.titulo' | translate }}</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class=" modal-body  pt-0">
        
        <div class="dataTables_wrapper py-4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                    <label class="form-control-label"> {{ 'producto.tabla.mostrar' | translate}}
                    <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm" (change)="entriesChangeDestacados($event)">
                        <option value="10" [selected]="entries == 10">10</option>
                        <option value="25" [selected]="entries == 25">25</option>
                        <option value="50" [selected]="entries == 50">50</option>
                        <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    {{ 'producto.tabla.entradas' | translate}}
                    </label>
                </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div id="datatable_filter" class="dataTables_filter">
                        <label class="form-control-label"><input type="text" class="form-control form-control-sm" placeholder="{{ 'producto.tabla.buscar' | translate}}" aria-controls="datatable" (keyup)="filterTableDestacado($event)"/></label>
                    </div>
                </div>
            </div>
    
            <ngx-datatable [messages]="{emptyMessage: 'No se han encontrado resultados!'}"
                class="bootstrap selection-cell fullscreen"
                [columnMode]="'force'" 
                [headerHeight]="50" [footerHeight]="50" 
                [rowHeight]="'auto'"
                [scrollbarH]="true"
                [limit]="entries != -1 ? entries : undefined" [rows]="destacados"  
                (activate)="onActivate($event)">                
                <ngx-datatable-column name="titulo" [width]="200">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.titulo' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="codigo" [width]="100">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.codigo' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="caracteristica1" [width]="200">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{textCaract1}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="caracteristica2" [width]="200">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{textCaract2}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="caracteristica3" [width]="200">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{textCaract3}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="precio" [width]="100">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'producto.tabla.precio' | translate}} </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="activo" [width]="200">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'cliente.tabla.activo' | translate}}</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span *ngIf="value == 1" class="fas fa-eye"> </span>
                        <span *ngIf="value == 0"  class="fas fa-eye-slash"> </span>
                    </ng-template>
                </ngx-datatable-column>
                
            </ngx-datatable>
        </div>
    </div>
        
    <div class=" modal-footer">
      <button class="btn bg-zeene ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>Cancelar</button>
    </div>

</ng-template>


<bdc-walk-popup #clickNewProduct name="clickNewProduct"
  [mustCompleted]="{clickProductList: true}" [showCloseButton]="false" header="Paso 4" xPosition="after">
  Haz click en el botón "Nuevo"
</bdc-walk-popup>


<bdc-walk-popup #completeProducts name="completeProducts"
  [mustCompleted]="{clickNewProduct: true}" [showCloseButton]="false" header="Paso 5" xPosition="after">
  Completá los datos del producto y guardá.
</bdc-walk-popup>