<div class=" header  pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2  d-inline-block mb-0">
                {{  'cliente.titulo' | translate}}</h6>
          </div>
          <div class=" col-lg-6 col-5 text-right">
              <a *ngIf="onboardingService.on" [enabled]="onboardingService.on" class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="addCliente(modalEdit); onboardingService.submit('newClient')" [bdcWalkTriggerFor]="newClient">{{ 'cliente.nuevo' | translate }}</a>
              <a *ngIf="!onboardingService.on" class=" btn btn btn-success" href="javascript:void(0)" (click)="addCliente(modalEdit)" >{{ 'cliente.nuevo' | translate }} </a>
          </div>
        </div>
      </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
        <div class=" card">
            <div class=" card-header">
                <h3 class="catd-text">Filtros</h3>
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="from-group">
                            <label class="form-control-label">Nro Cliente</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="nroCliente"
                                placeholder="Nro Cliente" aria-controls="datatable" (keyup)="filters()"/>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <div class="from-group">
                            <label class="form-control-label">Nombre Cliente</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="nombreCliente"
                                placeholder="Nombre Cliente" aria-controls="datatable" (keyup)="filters()"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="from-group">
                            <label class="form-control-label">Correo Cliente</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="mailCliente"
                                placeholder="Correo Cliente" aria-controls="datatable" (keyup)="filters()"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="from-group">
                            <label class="form-control-label">Activos</label>
                            <input type="checkbox" class="form-control form-control-sm" [(ngModel)]="activoCliente" 
                             value="true" placeholder="Correo Cliente" aria-controls="datatable" (click)="cambia()"/>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <button class="btn btn-sm btn-primary" (click)="eliminar()">limpiar búsqueda</button>
                     </div>
                </div>
            </div>
            <div class="dataTables_wrapper py-4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="datatable_length">
                        <label class="form-control-label"> {{ 'cliente.tabla.mostrar' | translate}}
                        <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm" (change)="entriesChange($event)">
                            <option value="10" [selected]="entries == 10">10</option>
                            <option value="25" [selected]="entries == 25">25</option>
                            <option value="50" [selected]="entries == 50">50</option>
                            <option value="-1" [selected]="entries == -1">All</option>
                        </select>
                        {{ 'cliente.tabla.entradas' | translate}}
                        </label>
                    </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="datatable_filter" class="dataTables_filter">
                            <label class="form-control-label"><input type="hidden" class="form-control form-control-sm" placeholder="{{ 'cliente.tabla.buscar' | translate}}" aria-controls="datatable" (keyup)="filterTable($event)"/></label>
                        </div>
                    </div>
                </div>
    
                <ngx-datatable [messages]="{emptyMessage: 'No se han encontrado resultados!'}"
                    class="bootstrap selection-cell" 
                    [columnMode]="'force'" [headerHeight]="50" 
                    [footerHeight]="50" [rowHeight]="70" 
                    [limit]="entries != -1 ? entries : undefined" [rows]="temp" 
                    [loadingIndicator]="loadingIndicator" 
                    (activate)="onActivate($event)">
                    <ngx-datatable-column name="nrocliente">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'cliente.tabla.nrocliente' | translate}} </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="nombre">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'cliente.tabla.nombre' | translate}}</span>
                        </ng-template>email
                    </ngx-datatable-column>
                    <ngx-datatable-column name="email">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'cliente.tabla.email' | translate}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="usuario">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'cliente.tabla.usuario' | translate}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="clave">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'cliente.tabla.clave' | translate}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="activo">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'cliente.tabla.activo' | translate}}</span>
                        </ng-template>
                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                            <span *ngIf="value == 1" class="fas fa-user-tie"> </span>
                            <span *ngIf="value == 0"  class="fas fa-user-slash"> </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acción" >
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'cliente.tabla.acciones' | translate}}</span>
                        </ng-template>
                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                            <span>
                                <button class="btn btn-sm btn-neutral"  
                                    (click)='openSucursal(modalSucursal,row)' title="sucursales">
                                    <span class="fas fa-store"></span>  
                                </button>
                                <button class="btn btn-sm btn-primary" (click)='onSelectItem(modalEdit,row)' title="{{ 'cliente.tabla.editar' | translate}}"><span class="fas fa-pen-alt"></span>  </button>
                                <button class="btn btn-sm btn-info" (click)='pedidos(modalPedidos,row)' title="{{ 'cliente.tabla.pedido' | translate}}"><span class="fas fa-truck"></span>  </button>
                                <button *ngIf="row.activo == 1" class="btn btn-sm btn-danger" (click)='onDisableActive(row)' title="Deshabilitar"><span class="fas fa-user-slash"></span> </button>
                                <button *ngIf="row.activo == 0" class="btn btn-sm btn-success" (click)='onActiveClient(row)' title="Habilitar"><span class="fas fa-user-tie"></span> </button>
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
        </div>
    </div>
</div>


<ng-template #modalPedidos >
    <div class="modal-header">    
        <h5 class="modal-title" >{{ 'cliente.pedidos' | translate}}</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>    
    <div class="modal-body pt-0">

        <div class="dataTables_wrapper py-4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                    <label class="form-control-label"> {{ 'cliente.tablaCliente.mostrar' | translate}}
                    <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm" (change)="entriesChangeDet($event)">
                        <option value="10" [selected]="entries == 10">10</option>
                        <option value="25" [selected]="entries == 25">25</option>
                        <option value="50" [selected]="entries == 50">50</option>
                        <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    {{ 'cliente.tablaCliente.entradas' | translate}}
                    </label>
                </div>
                </div>
                <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                    <label class="form-control-label"><input type="text" class="form-control form-control-sm" placeholder="{{ 'cliente.tablaCliente.buscar' | translate}}" aria-controls="datatable" (keyup)="filterTableDet($event)"/></label>
                </div>
                </div>
            </div>
    
            <ngx-datatable [messages]="{emptyMessage: 'No se han encontrado resultados!'}"
                class="bootstrap selection-cell" 
                [columnMode]="'force'" [headerHeight]="50" 
                [footerHeight]="50" [rowHeight]="70" 
                [limit]="entriesDet != -1 ? entries : undefined" 
                [rows]="detalleRow" (activate)="onActivateDet($event)">

                <ngx-datatable-column name="cliente">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'cliente.tablaCliente.cliente' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="nrocliente">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'cliente.tablaCliente.nrocliente' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="estado">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'cliente.tablaCliente.estado' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="fecha">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'cliente.tablaCliente.fecha' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="comentario">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'cliente.tablaCliente.comentario' | translate}}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Acción" >
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span>{{ 'cliente.tabla.acciones' | translate}}</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span>
                            
                            <button class="btn btn-sm btn-success" (click)='dataExcelClientes(row)' 
                                title="exportar"><span class="fas fa-file-import"></span> 
                            </button>
                            
                        </span>
                    </ng-template>
                </ngx-datatable-column>
                
            </ngx-datatable>
        </div>

    </div>
    <div class=" modal-footer">
      <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>{{ 'cliente.formClient.cancelar' | translate}}</button>
    </div>
</ng-template>



<ng-template #modalEdit >
    <div class="modal-header">    
        <h5 class="modal-title" >{{ 'cliente.formClient.edit' | translate}}</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>    
    <div class="modal-body pt-0">
        <form [formGroup]="editForm" novalidate>
            <div class="row">                
                <div class="col-md-4">                    
                    <div class="form-group">
                        <label for="nrocliente" class="form-control-label">{{ 'cliente.tabla.nrocliente' | translate}}:</label>
                        <input type="text" formControlName="nrocliente" placeholder="Nro cliente" 
                             name="nrocliente" class="form-control" id="nrocliente">
                        <div class="alert  alert-danger" *ngIf="editForm.get('nrocliente').hasError('required') && editForm.get('nrocliente').touched">
                            {{ 'cliente.tabla.nrocliente' | translate}} es requerido
                        </div>  
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nombre" class="form-control-label">{{ 'cliente.tabla.nombre' | translate}}:</label>
                        <input type="text" formControlName="nombre" placeholder="Nombre" name="nombre" class="form-control" id="nombre">
                        <div class="alert  alert-danger" *ngIf="editForm.get('nombre').hasError('required') && editForm.get('nombre').touched">
                            {{ 'cliente.tabla.nombre' | translate}} es requerido
                        </div>  
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="usuario">{{ 'cliente.tabla.usuario' | translate}}:</label>
                        <input type="text" formControlName="usuario" 
                            
                            placeholder="Usuario" name="usuario" class="form-control" id="usuario">
                        <div class="alert  alert-danger" *ngIf="editForm.get('usuario').hasError('required') && editForm.get('usuario').touched">
                            {{ 'cliente.tabla.usuario' | translate}} es requerido
                        </div>  
                    </div>
                </div>                
                
            </div>
            <div class="row">            
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="clave">{{ 'cliente.tabla.clave' | translate}}:</label>
                        <input type="text" formControlName="clave" placeholder="Clave" name="clave" class="form-control" id="clave">
                        <div class="alert  alert-danger" *ngIf="editForm.get('clave').hasError('required') && editForm.get('clave').touched">
                            {{ 'cliente.tabla.clave' | translate}} es requerido
                        </div>  
                    </div>
                </div>  
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="email">{{ 'cliente.tabla.email' | translate}}:</label>
                        <input type="text" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
                        <div class="alert  alert-danger" *ngIf="editForm.get('email').hasError('required') && editForm.get('email').touched">
                            {{ 'cliente.tabla.email' | translate}} es requerido
                        </div>  
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="descuento_general">{{ 'cliente.tabla.decuento' | translate}}:</label>
                        <input type="text" formControlName="descuento_general" placeholder="{{ 'cliente.tabla.decuento' | translate}}" name="descuento_general" class="form-control" id="descuento_general">
                       
                    </div>
                </div>
            </div>    
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="cuit">{{ 'cliente.tabla.cuit' | translate}}:</label>
                        <input type="text" formControlName="cuit" placeholder="{{ 'cliente.tabla.cuit' | translate}}" name="cuit" class="form-control" id="cuit">
                        <div class="alert  alert-danger" *ngIf="editForm.get('cuit').hasError('required') && editForm.get('cuit').touched">
                            {{ 'cliente.tabla.cuit' | translate}} es requerido
                        </div>  
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="telefono">{{ 'cliente.tabla.telefono' | translate}}:</label>
                        <input type="text" formControlName="telefono" placeholder="{{ 'cliente.tabla.telefono' | translate}}" name="telefono" class="form-control" id="telefono">
                        <div class="alert  alert-danger" *ngIf="editForm.get('telefono').hasError('required') && editForm.get('telefono').touched">
                            {{ 'cliente.tabla.telefono' | translate}} es requerido
                        </div>  
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="encargado_compras">{{ 'cliente.tabla.encargado' | translate}}:</label>
                        <input type="text" formControlName="encargado_compras" placeholder="{{ 'cliente.tabla.encargado' | translate}}" name="encargado_compras" class="form-control" id="encargado_compras">                        
                    </div>
                </div>                
            </div> 
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="encargado_pagos">{{ 'cliente.tabla.pagos' | translate}}:</label>
                        <input type="text" formControlName="encargado_pagos" placeholder="{{ 'cliente.tabla.pagos' | translate}}" name="encargado_pagos" class="form-control" id="encargado_pagos">                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="provincia">{{ 'cliente.tabla.provincia' | translate}}:</label>
                        <input type="text" formControlName="provincia" placeholder="{{ 'cliente.tabla.provincia' | translate}}" name="provincia" class="form-control" id="provincia">
                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="localidad">{{ 'cliente.tabla.localidad' | translate}}:</label>
                        <input type="text" formControlName="localidad" placeholder="{{ 'cliente.tabla.localidad' | translate}}" name="localidad" class="form-control" id="localidad">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="form-group">
                        <label class="form-control-label" for="direccion">{{ 'cliente.tabla.direccion' | translate}}:</label>
                        <input type="text" formControlName="direccion" placeholder="{{ 'cliente.tabla.direccion' | translate}}" name="direccion" class="form-control" id="direccion">
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <label class="form-control-label" for="lista">{{ 'cliente.tabla.price_list' | translate}}:</label>
                  <ng-select
                          formControlName="lista"
                          [items]="price_lists"
                          [placeholder]="'Seleccione una lista de precios'"
                          [multiple]="false" name="lista" id="lista">
                  </ng-select>
                </div>

            </div>
        </form>
    </div>
    <div class=" modal-footer">
        <button class="btn btn-success" [disabled]='editForm.invalid' *ngIf="!btnvisibility" (click)="updateCliente()">{{ 'cliente.tabla.actualizar' | translate}}</button>
        <button *ngIf="onboardingService.on && !btnvisibilityIn" [enabled]="onboardingService.on" class="btn btn-success" [disabled]='editForm.invalid' (click)="insertNewClient(); onboardingService.submit('completeData')" [bdcWalkTriggerFor]="completeData">{{ 'cliente.formClient.guardar' | translate}}</button>
        <button *ngIf="!onboardingService.on && !btnvisibilityIn" class="btn btn-success" [disabled]='editForm.invalid' (click)="insertNewClient()">{{ 'cliente.formClient.guardar' | translate}}</button>
        <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>{{ 'cliente.formClient.cancelar' | translate}}</button>
    </div>
</ng-template>

<ng-template #modalSucursal >
    <div class="modal-header">    
        <h5 class="modal-title" >lista de sucursales</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>    
    <div class="modal-body pt-0">
        <form [formGroup]="editFormSucursal" novalidate>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nombre" class="form-control-label">Nombre de sucursal:</label>
                        <input type="text" formControlName="nombre" placeholder="Nombre de sucursal" class="form-control" >
                        <div class="alert  alert-danger" *ngIf="editFormSucursal.get('nombre').hasError('required') && editFormSucursal.get('nombre').touched">
                            Nombre de sucursal es requerido
                        </div>  
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="direccion" class="form-control-label">Dirección:</label>
                        <input type="text" formControlName="direccion" placeholder="Direccion" class="form-control">
                        <div class="alert alert-danger" *ngIf="editFormSucursal.get('direccion').hasError('required') && editFormSucursal.get('direccion').touched">
                            Direccion es requerido
                        </div>  
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="telefono">Teléfono:</label>
                        <input type="text" formControlName="telefono" placeholder="Telefono" class="form-control">
                        <div class="alert  alert-danger" *ngIf="editFormSucursal.get('telefono').hasError('required') && editFormSucursal.get('telefono').touched">
                            Teléfono es requerido
                        </div>  
                    </div>
                </div>

                <div class="col-md-4 float-right">
                    <div class="form-group">
                        <button class="btn btn-primary" [disabled]='editFormSucursal.invalid' type="button"  (click)="createSucursal()">Guardar</button> 
                    </div>
                </div>
            </div>
        </form>

        <ngx-datatable [messages]="{emptyMessage: 'No se han encontrado resultados!'}"
            class="bootstrap selection-cell" 
            [columnMode]="'force'" [headerHeight]="50" 
            [footerHeight]="50" [rowHeight]="70" 
            [columns]="columnSucursal"
            [limit]="entries != -1 ? entries : undefined" 
            [rows]="dataSucursal" >
        </ngx-datatable>
    </div>
    <div class=" modal-footer">        
        <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>{{ 'cliente.formClient.cancelar' | translate}}</button>
    </div>
</ng-template>
               


<bdc-walk-popup #newClient name="newClient"
  [mustCompleted]="{clickListClients: true}" [showCloseButton]="false" header="Paso 8" xPosition="after">
  Haz click en Nuevo Cliente.
</bdc-walk-popup>


<bdc-walk-popup #completeData name="completeData"
  [mustCompleted]="{newClient: true}" [showCloseButton]="false" header="Paso 9" xPosition="after">
  Completá con los datos y guardá.
</bdc-walk-popup>


<bdc-walk-dialog #dialogFinish name="dialogFinish" width="400px" [mustCompleted]="{completeData: true}">
  <h1>
    <i class="fa fa-flag" aria-hidden="true"></i> Finalizado!
  </h1>

  <p>
    Felicitaciones,<br>
    Todos los pasos completos, ahora podes entrar al <a routerLinkActive="active" [routerLink]="['../../producto', 'productos']" (click)="dialogFinish.close({dialogFinish: true}); onboardingService.turn_off">catalogo</a>.
  </p>

  <div class="modal-footer">
    <button (click)="dialogFinish.close({dialogFinish: true}); onboardingService.turn_off" mat-raised-button class="btn btn-info">Cerrar</button>
  </div>
</bdc-walk-dialog>