<div class="container-fluid mt-6">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10">
            <h1 class="display-3">¡Te damos la bienvenida a MasPedidos!</h1>
            <h3>Sentite libre para explorar, nosotros te recomendamos comenzar por estas 3 tareas</h3>
            <div class="row">
                <div class="col-md-3  mt-3">
                    <div class="card card-stats mb-3 mb-lg-0 nline-block">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape  bg-muted text-primary ">
                                        <i class="fa fa-sliders-h"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-dark text-md">
                                1.  Configurar los<br>
                                datos de tu empresa
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  mt-3">
                    <div class="card card-stats mb-3 mb-lg-0 nline-block">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-muted text-primary  ">
                                        <i class="fa fa-cube"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-dark text-md">
                                2. Agregar tus<br>
                                productos
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  mt-3">
                    <div class="card card-stats mb-3 mb-lg-0 nline-block">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-muted text-primary  ">
                                        <i class="fa fa-user-friends"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-dark text-md">
                                3. Cargar tus <br>
                                clientes
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            

            <h3 class="display-4 mt-5 mb-3">Otras tareas para armar tu tienda</h3>
            <div class="row media media-body mb-3">
                <div class="col-md-1 inline-block inst text-center text-primary ">
                    <i class="fa fa-cogs mt-4 glyphicon" ></i>
                </div>
                <div class="col-md-10 inline-block media">
                    <div>
                        <div class="mt-2 text-grey small">Configuraciones avanzadas </div>
                        <h3> Podés modificar cómo funciona MasPedidos. Bajar stock, monto mínimo para pedir, etc.</h3>
                        <div class="text-primary">
                            <span>Configurar</span>    
                        </div>
                    </div>
                </div>
            </div>

            <div class="row media media-body">
                <div class="col-md-1 inline-block inst text-center text-primary ">
                    <i class="fa fa-hand-holding-usd mt-4 glyphicon" ></i>
                </div>
                <div class="col-md-10 inline-block media">
                
                    <div>
                        <div class="mt-2 text-grey small">Reglas de precios </div>
                        <h3 class="mb-1"> Creá todas las reglas de precios y descuentos que usas en tu empresa</h3>
                        <div class="text-primary">
                            <span>Configurar</span>    
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="display-4 mt-5 mb-3">Ayuda y tips para que tus clientes usen MasPedidos</h3>
            <div class="row media media-body mb-3">
                <div class="col-md-1 inline-block inst text-center text-primary ">
                    <i class="fa fa-mail-bulk mt-4 glyphicon" ></i>
                </div>
                <div class="col-md-10 inline-block media">
                    <div>
                        <div class="mt-2 text-grey small">Envía la invitación por email </div>
                        <h3> Podés modificar cómo funciona MasPedidos. Bajar stock, monto mínimo para pedir, etc.</h3>
                        <div class="text-primary">
                            <span>Enviar</span>    
                        </div>
                    </div>
                </div>
            </div>

            <div class="row media media-body">
                <div class="col-md-1 inline-block inst text-center text-primary ">
                    <i class="fa fa-dollar-sign mt-4 glyphicon" ></i>
                </div>
                <div class="col-md-10 inline-block media">
                    <div>
                        <div class="mt-2 text-grey small">Haz un descuento exclusivo por este canal </div>
                        <h3 class="mb-1"> Creá todas las reglas de precios y descuentos que usas en tu empresa</h3>
                        <div class="text-primary">
                            <span>Configurar</span>    
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


