
<div class="container-fluid mt-6">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10">
            <h1 class="display-3">¡Te damos la bienvenida a MasPedidos!</h1>
            <h3>Sentite libre para explorar, o empezá por alguna de estas tareas:</h3>
            <div class="row">
                <div class="col-md-3  mt-3">
                    <div class="card card-stats mb-3 mb-lg-0 nline-block">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape  bg-muted text-primary rounded-circle shadow">
                                        <i class="fas fa-pen-fancy"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-dark text-md">
                                Eligir un diseño <br>
                                para tu tienda
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  mt-3">
                    <div class="card card-stats mb-3 mb-lg-0 nline-block">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-muted text-primary rounded-circle shadow">
                                        <i class="fas fa-tag"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-dark text-md">
                                Agrega <br>
                                productos
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  mt-3">
                    <div class="card card-stats mb-3 mb-lg-0 nline-block">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-muted text-primary rounded-circle shadow">
                                        <i class="fas fa-credit-card"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-dark text-md">
                                Configurar un <br>
                                medio de pago
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  mt-3">
                    <div class="card card-stats mb-3 mb-lg-0 nline-block">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-muted text-primary rounded-circle shadow">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-dark text-md">
                                Otras tareas <br>
                                locales y envíos
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mt-3">
                    <div class="card card-stats mb-3 mb-lg-0 nline-block">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-muted text-primary rounded-circle shadow">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-dark text-md">
                                Otras tareas..<br>
                                
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            
            <br>

            <h3 class="display-4">Otras tereas para armar tu tienda</h3>
            <div class="row media media-body">
                
                <div class="col-md-1 inline-block inst text-center text-primary ">
                    <i class="fab fa-instagram mt-4 glyphicon" ></i>
                </div>
            
                <div class="col-md-10 inline-block media">
                
                    <div class="col-md-12">
                        <div class="address">Habilitá Instagram Shopping </div>
                        <div class="price"> <small> Incluí links a tus productos en tus publicaciones de instagram.</small></div>
                        <div class="text-primary">
                            <span>Activar Instagram </span>    
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row media media-body" >
                
                <div class="col-md-1 inline-block inst text-center text-primary ">
                    <i class="fab fa-internet-explorer mt-4 glyphicon" ></i>
                </div>
            
                <div class="col-md-10 inline-block media">
                
                    <div class="col-md-12">
                        <div class="address">Configuraciones avanzadas </div>
                        <div class="price"> <small> Vinculá un dominio propio o editá la URL actual de tu tienda.</small></div>
                        <div class="text-primary">
                            <span>Configurar dominio</span>    
                        </div>
                    </div>
                </div>
               
            </div>

        </div>
    </div>
</div>


