<div class="container-fluid mt-6">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10">
            <h1 class="display-3">¡Te damos la bienvenida a MasPedidos!</h1>
            <h3>Sentite libre para explorar, nosotros te recomendamos comenzar por estas 3 tareas</h3>
            <div class="row">
                <div class="col-md-12  mt-3">
                    <div class="card card-stats mb-3 mb-lg-0 nline-block">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape  bg-muted text-primary ">
                                        <i class="fa fa-sliders-h"></i>
                                    </div>
                                   <a href="/#/admin/configuraciones/empresa"><span class="h4"> 1.  Configurar los datos de tu empresa</span></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto ml-3">
                                    Completá los datos de contacto y subi el logo. Te recomendamos subir el logo normal y la versión para celular.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12  mt-3">
                    <div class="card card-stats mb-3 mb-lg-0 nline-block">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-muted text-primary  ">
                                        <i class="fa fa-cube"></i>
                                    </div>
                                    <a href="/#/admin/producto/productos"><span class="h4"> 2.  Agregar tus productos</span></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto ml-3">
                                    Puedes subir tus productos de a uno completando un formulario y puedes importarlos con un excel.
                                    Descarga el modelo del excel y llenalo con tus productos.
                                    Los datos requeridos son codigo, titulo y al menos una característica,
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12  mt-3">
                    <div class="card card-stats mb-3 mb-lg-0 nline-block">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-muted text-primary  ">
                                        <i class="fa fa-user-friends"></i>
                                    </div>
                                    <a href="/#/admin/cliente/clientes"> <span class="h4"> 3.  Cargar tus clientes</span></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto ml-3">
                                    También los puedes cargar con un formulario o con un excel. Los datos requeridos son código, email y clave.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            

            <h3 class="display-4 mt-5 mb-3">Otras tareas para armar tu tienda</h3>
            <div class="row media media-body mb-3">
                <div class="col-md-1 inline-block inst text-center text-primary ">
                    <i class="fa fa-cogs mt-4 glyphicon" ></i>
                </div>
                <div class="col-md-10 inline-block media">
                    <div>
                        <div class="mt-2 text-grey small">Configuraciones avanzadas </div>
                        <h3> Podés modificar cómo funciona MasPedidos. Permitir que tus clientes se registen, descontar stock, etc</h3>
                        <div class="text-primary">
                            <span>Configurar</span>    
                        </div>
                    </div>
                </div>
            </div>

            <div class="row media media-body">
                <div class="col-md-1 inline-block inst text-center text-primary ">
                    <i class="fa fa-hand-holding-usd mt-4 glyphicon" ></i>
                </div>
                <div class="col-md-10 inline-block media">
                
                    <div>
                        <div class="mt-2 text-grey small">Reglas de precios </div>
                        <h3 class="mb-1"> Creá todas las reglas de precios y descuentos que usas en tu empresa</h3>
                        <div class="text-primary">
                            <span>Configurar</span>    
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="display-4 mt-5 mb-3">Ayuda y tips para que tus clientes usen MasPedidos</h3>
            <div class="row media media-body mb-3">
                <div class="col-md-1 inline-block inst text-center text-primary ">
                    <i class="fa fa-mail-bulk mt-4 glyphicon" ></i>
                </div>
                <div class="col-md-10 inline-block media">
                    <div>
                        <div class="mt-2 text-grey small">Envía la invitación por email </div>
                        <h3> Invitá a tus clientes a que usen MasPedidos. Se les enviará un email con toda la información.</h3>
                        <div class="text-primary">
                            <span>Enviar</span>    
                        </div>
                    </div>
                </div>
            </div>

            <div class="row media media-body">
                <div class="col-md-1 inline-block inst text-center text-primary ">
                    <i class="fa fa-dollar-sign mt-4 glyphicon" ></i>
                </div>
                <div class="col-md-10 inline-block media">
                    <div>
                        <div class="mt-2 text-grey small">Haz un descuento exclusivo por este canal </div>
                        <h3 class="mb-1"> ...</h3>
                        <div class="text-primary">
                            <span>Configurar</span>    
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


