.inst .glyphicon {font-size: 40px;}
.media {background:#fff;  }
.media img{width:200px;margin:0; height:136px;}
.media-body{border:1px solid #86a3b6; border-radius: 10px;  height:95px;}
.media .price{float:left; width:100%; font-size:30px;font-weight:600; color:#4765AB;}
.media .price small{display:block; font-size:17px; color:#232323;}
.media .address{float:left; width:100%;font-size:14px; margin-top:5px; color:#888;}