<div class=" header  pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2  d-inline-block mb-0">
                {{ 'config.titulo' | translate}}</h6>
          </div>
          <div class=" col-lg-6 col-5 text-right">
            <!-- <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="addCliente(modalAdd)" > Nuevo Cliente </a> -->
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><h3 class="mb-0">{{ 'config.general' | translate }}</h3></div>
                    <div class="card-body">
                                        
                        <form [formGroup]="formConfig" novalidate >
                                                                          
                            <div class="row popup-info-custom">
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  > 
                                            <input id="aprobar_usuario" 
                                                class="custom-control-input" type="checkbox" formControlName="aprobar_usuario">
                                            <label for="aprobar_usuario"  placement="right"
                                                class="custom-control-label" >{{ 'config.formConfig.aprobarUsuario' | translate }}
                                            </label>                                                                                            
                                           
                                        </div>
                                    </div>
                                </div>                            
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  > 
                                            <input id="permitir_registracion" 
                                                class="custom-control-input" type="checkbox" formControlName="permitir_registracion">
                                            <label for="permitir_registracion"
                                                class="custom-control-label" >{{ 'config.formConfig.permitirRegistro' | translate }} </label>
                                           
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  > 
                                            <input id="send_whatspp" 
                                                class="custom-control-input" type="checkbox" formControlName="send_whatspp">
                                            <label for="send_whatspp"
                                                class="custom-control-label" >{{ 'config.formConfig.envioWhatssap' | translate }}</label>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  > 
                                          
                                            <input id="invitado" 
                                                class="custom-control-input" type="checkbox" formControlName="invitado">
                                            <label for="invitado" 
                                                class="custom-control-label" >{{ 'config.formConfig.invitado' | translate }}</label>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  >
                                            <input id="descargaExcel"
                                                class="custom-control-input" type="checkbox" formControlName="descarga_excel">
                                            <label for="descargaExcel"
                                                class="custom-control-label" >{{ 'config.formConfig.descargaExcel' | translate }}</label>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  >
                                            <input id="markup"
                                                class="custom-control-input" type="checkbox" formControlName="markup">
                                            <label for="markup"
                                                class="custom-control-label" >{{ 'config.formConfig.markup' | translate }}</label>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  >
                                            <input id="comprobantes"
                                                class="custom-control-input" type="checkbox" formControlName="comprobantes">
                                            <label for="comprobantes"
                                                class="custom-control-label" >{{ 'config.formConfig.comprobantes' | translate }}</label>
                                            
                                        </div>
                                    </div>
                                </div>

                                

                                

                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  >
                                            <input id="leyenda_mas_iva"
                                                class="custom-control-input" type="checkbox" formControlName="leyenda_mas_iva">
                                            <label for="leyenda_mas_iva"
                                                class="custom-control-label" >{{ 'config.formConfig.leyendaMasIva' | translate }}</label>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                           
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="pt-2">
                                        <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                            {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>       
                    </div>                 
                </div>
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><h3 class="mb-0">Manejo de stock</h3></div>
                    <div class="card-body">
                        <form [formGroup]="formConfig" novalidate >
                            <div class="row popup-info-custom">
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  >
                                            <input id="stock_descontar"
                                                class="custom-control-input" type="checkbox" formControlName="stock_descontar">
                                            <label for="stock_descontar"
                                                class="custom-control-label" >{{ 'config.formConfig.stock_descontar' | translate }}</label>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  >
                                            <input id="stock_permitir"
                                                class="custom-control-input" type="checkbox" formControlName="stock_permitir">
                                            <label for="stock_permitir"
                                                class="custom-control-label" >{{ 'config.formConfig.stock_permitir' | translate }}</label>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="pt-2">
                                        <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                            {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><h3 class="mb-0">Usar MasPedidos sin mostrar precio</h3></div>
                    <div class="card-body">
                        <form [formGroup]="formConfig" novalidate >
                            <div class="row popup-info-custom">
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  >
                                            <input id="sin_precio"
                                                class="custom-control-input" type="checkbox" formControlName="sin_precio">
                                            <label for="sin_precio"
                                                class="custom-control-label" >{{ 'config.formConfig.sin_precio' | translate }}</label>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="pt-2">
                                        <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                            {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>    
                    </div>
                </div>    
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><h3 class="mb-0">Usar MasPedidos sin mostrar código de producto</h3></div>
                    <div class="card-body">
                        <form [formGroup]="formConfig" novalidate >
                            <div class="row popup-info-custom">
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  >
                                            <input id="sin_codigo"
                                                class="custom-control-input" type="checkbox" formControlName="sin_codigo">
                                            <label for="sin_codigo"
                                                class="custom-control-label" >{{ 'config.formConfig.sin_codigo' | translate }}</label>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="pt-2">
                                        <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                            {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>    
                    </div>
                </div>    
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><h3 class="mb-0">{{ 'config.formConfig.general_limites' | translate}}</h3></div>
                    <div class="card-body">
                        <form [formGroup]="formConfig" novalidate >
                            <div class="row popup-info-custom">     
                                <div class="col-md-6">
                                    <label class="form-control-label" 
                                        for="example-time-input">{{ 'config.formConfig.hora_limite_pedido' | translate}}</label>
                                    <input class=" form-control" formControlName="hora"  type="time"/>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-control-label" 
                                        for="example-time-input">{{ 'config.formConfig.monto_limite_pedido' | translate}}</label>
                                    <input class=" form-control" formControlName="monto_minimo"/>
                                </div>
                                <!-- <div class="col-4"></div> -->
                            </div>
                            <div class="">
                                <div cclass="col-md-4">
                                    <div class="pt-2">
                                        <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                            {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                        </button>
                                    </div>                                
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>    

            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><h3 class="mb-0">Mismo usuario puede hacer pedidos distintos</h3></div>
                    <div class="card-body">
                        <form [formGroup]="formConfig" novalidate >
                            <div class="row popup-info-custom">
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <div class="custom-control custom-checkbox mt-4"  >
                                            <input id="pedido_firebase"
                                                class="custom-control-input" type="checkbox" formControlName="pedido_firebase">
                                            <label for="pedido_firebase"
                                                class="custom-control-label" >{{ 'config.formConfig.pedido_firebase' | translate }}</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="pt-2">
                                        <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                            {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><h3 class="mb-0">{{ 'config.general_redes' | translate }}</h3></div>
                    <div class="card-body">
                        <form [formGroup]="formConfig" novalidate >
                            <div class="row popup-info-custom">
                                <div class="col-md-4  mt--1 mb--3">
                                    <div class="form-group">
                                        <label for="numWhatsapp"
                                        class="form-control-label">{{ 'config.formConfig.numWhatsapp' | translate }}</label>
                                        <input type="text" id="numWhatsapp" placeholder="+(codigo pais) (codigo areá) (teléfono)" 
                                            formControlName="num_whatsapp"  class="form-control">
                                        
                                    </div>
                                </div>
                                <div class="col-md-4 mt-4">
                                    <div class="input-group">
                                        
                                        <div class="input-group-prepend ">
                                            <small class="input-group-text">facebook.com/</small>
                                        </div>
                                        <input type="text" id="urlFacebook" placeholder="URL Facebook" formControlName="url_facebook"  class=" form-control">
                                        
                                    </div>
                                </div>
                                <div class="col-md-4 mt-4  mb-3">
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                          <small class="input-group-text">instagram.com/</small>
                                        </div>
                                        <input type="text" id="urlInstagram" placeholder="URL Instagram" formControlName="url_instagram"  class="form-control">
                                    </div>

                                    
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <label for="urlWeb"
                                        class="form-control-label">{{ 'config.formConfig.urlWeb' | translate }}</label>
                                        <input type="text" id="urlWeb" placeholder="URL Web" formControlName="url_web"  class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="pt-2">
                                        <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                            {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>    
                    </div>
                </div>    
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <div class="card-header"><h3 class="mb-0">{{ 'config.general_afip' | translate }}</h3></div>
                    <div class="card-body">
                        <form [formGroup]="formConfig" novalidate >
                            <div class="row popup-info-custom">
                                <div class="col-md-4">
                                    <div class="form-group mr-1">
                                        <label for="qrAFIP"
                                        class="form-control-label">{{ 'config.formConfig.qrAFIP' | translate }}</label>
                                        <textarea placeholder="URL QR AFIP" name="qrAFIP" id="qrAFIP" cols="50" rows="10"   class="form-control" formControlName="qr_afip"></textarea>
                                        <!-- <input type="text" id="qrAFIP" placeholder="URL QR AFIP" formControlName="qr_afip"  class="form-control"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="pt-2">
                                        <button [disabled]='formConfig.invalid' (click)="registrarConfig()" class="btn btn-primary">
                                            {{ 'config.formConfig.guardar' | translate }} <span class=""></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>    
                    </div>
                </div>    
            </div>

        </div>
    </div>
</div>