<div class=" header pb-6">
    <div class=" container-fluid">
      <div class="header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 d-inline-block mb-0">
                {{'precios.descuento.lista.titulo' | translate}}</h6>
          </div>
          <div class=" col-lg-6 col-5 text-right">
              <a *ngIf="type == 'simple'" class="btn btn-success" href="javascript:void(0)" (click)="newDiscount(modalAddDiscount)"> Nuevo Descuento</a>
              <a *ngIf="type == 'volumen'" class="btn btn-success" href="javascript:void(0)" (click)="newDiscount(modalAddDiscountVolumen)"> Nuevo Descuento</a>
          </div>
        </div>
      </div>
    </div>
</div>


<div class=" container-fluid mt--6">
    <div class=" row">
        <div class="col-12" *ngIf="!descuentos.length">
            <h3>No se han encontrado resultados!</h3>
        </div>
        <ng-container *ngFor="let desc of descuentos ">
            <div class="col-12">
                <div class="card overflow-hidden">
                    <div class="card-content">
                        <div class="card-body ">
                            <div class="media align-items-stretch">
                                <div class="col-8 col-md-9">
                                    <div class="flex-grow-1 d-flex flex-column justify-content-between align-self-between">
                                        <span class="d-block" *ngIf="true"><strong>Familia: </strong>{{desc.caracteristica1}}</span>
                                        <span class="d-block" *ngIf="true"><strong>Marca:</strong> {{desc.caracteristica2 }}</span>
                                        <span class="d-block" *ngIf="true"><strong>Caracteristica 3:</strong> {{desc.caracteristica3}}</span>
                                        <span class="d-block"><strong>Código de producto:</strong> {{desc.codigoProducto}}</span>
                                        <span class="d-block"><strong>Nro Cliente:</strong> {{desc.nrocliente}}</span>
                                        <span class="d-block"><strong>Descuento:</strong> {{desc.porcentaje}}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <!-- opciones desktop -->
                                    <div class="d-none d-md-block ">
                                        <a *ngIf="type == 'simple'" href="javascript:void(0)" class="d-block text-info h5 font-weight-light" (click)='onSelectItem(modalAddDiscount,desc)'
                                            title="{{ 'producto.tabla.editar' | translate}}"> {{ 'producto.tabla.editar' | translate}}
                                            <span class="fas fa-pen-alt"></span>
                                        </a>
                                        <a *ngIf="type == 'volumen'" href="javascript:void(0)" class="d-block text-info h5 font-weight-light" (click)='onSelectItem(modalAddDiscountVolumen,desc)'
                                            title="{{ 'producto.tabla.editar' | translate}}"> {{ 'producto.tabla.editar' | translate}}
                                            <span class="fas fa-pen-alt"></span>
                                        </a>
                                        <a href="javascript:void(0)" class="d-block text-info h5 font-weight-light"
                                           (click)='eliminarDecuento(desc)' title="{{ 'precios.descuento.eliminar' | translate}}">{{ 'precios.descuento.eliminar' | translate}}
                                            <span class="fa fa-trash"></span>
                                        </a>
                                        <div class="d-none"></div>
                                    </div>
                                    <!-- opciones desktop -->
                                </div>

                                <div class="movil align-self-center">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button *ngIf="type == 'simple'" mat-menu-item (click)='onSelectItem(modalAddDiscount,desc)' >
                                            <span class="fas fa-pen-alt"></span>   {{ 'producto.tabla.editar' | translate}}
                                        </button>
                                        <button *ngIf="type == 'volumen'" mat-menu-item (click)='onSelectItem(modalAddDiscountVolumen,desc)' >
                                            <span class="fas fa-pen-alt"></span>   {{ 'producto.tabla.editar' | translate}}
                                        </button>
                                        <button mat-menu-item (click)='eliminarDecuento(desc)'>
                                            <span class="fa fa-trash"></span> {{ 'precios.descuento.eliminar' | translate}}
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!--
<ng-template #modalEditDescuento >
    <form [formGroup]="addForm" novalidate >
    <div class="modal-header">    
        <h5 *ngIf="!flagNewUpdate" class="modal-title" >{{ 'cliente.comprobantes.tabla.actualizar' | translate}} </h5>
        <h5 *ngIf="flagNewUpdate" class="modal-title" >{{ 'precios.descuento.subtitulo' | translate }}</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>    
    <div class="modal-body pt-0">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group mr-1">
                        <label for="nombre_empresa"
                         class="form-control-label">{{ 'cliente.add.cliente' | translate }}</label>
                         <ng-select formControlName="cliente"
                            [items]="clientes" 
                            bindValue="nrocliente"
                            bindLabel="nombre + '(' + nrocliente + ')' ">
                        </ng-select>                                    
                        <div class="alert  alert-danger" 
                            *ngIf="addForm.get('cliente').hasError('required') && addForm.get('cliente').touched">  
                            {{ 'cliente.add.cliente' | translate }} es obligatorio
                        </div>  
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mr-1">
                        <label for="nombre_empresa"
                         class="form-control-label">{{ textCaract1 }}</label>
                         <ng-select formControlName="caract1" (change)='disabledInputCode()'
                            [items]="caract1" 
                            bindValue="nombre" 
                            bindLabel="nombre">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mr-1">
                        <label for="nombre_empresa"
                         class="form-control-label">{{ textCaract2 }}</label>
                         <ng-select formControlName="caract2" (change)='disabledInputCode()'
                            [items]="caract2" 
                            bindValue="nombre" 
                            bindLabel="nombre">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mr-1">
                        <label for="nombre_empresa"
                         class="form-control-label">{{ textCaract3 }}</label>
                         <ng-select formControlName="caract3" (change)='disabledInputCode()'
                            [items]="caract3" 
                            bindValue="nombre" 
                            bindLabel="nombre">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mr-1">
                        <label 
                         class="form-control-label">{{ 'precios.descuento.codigo' | translate}}</label>
                        <input formControlName="codigo_producto" class="form-control"
                            placeholder="{{ 'precios.descuento.codigo' | translate }}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mr-1">
                        <label
                         class="form-control-label">{{ 'precios.descuento.descuento' | translate}}</label>
                        <input type="number" formControlName="descuento" class="form-control"
                            (keyup)="disabledInputSelect($event)"
                            placeholder="{{ 'precios.descuento.descuento' | translate }}">                                     
                    </div>
                </div>
            </div>
       

    </div>
    <div class=" modal-footer">
      <button *ngIf="!flagNewUpdate" class="btn btn-success" [disabled]='addForm.invalid'
       (click)="update()">{{ 'cliente.add.guardar' | translate}}</button> 
      <button *ngIf="flagNewUpdate" class="btn btn-success" [disabled]='addForm.invalid'  
      (click)="registrar()" >{{ 'cliente.add.guardar' | translate }} <span class="fas fa-save"></span></button>
      <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>{{ 'cliente.comprobantes.tabla.cancelar' | translate}}</button>
    </div>
</form>    
</ng-template>
-->

<ng-template #modalAddDiscount >
    <form [formGroup]="addForm" novalidate > 
    <div class=" modal-header">
        
        <h5 *ngIf="!flagNewUpdate" class="modal-title" >{{ 'cliente.comprobantes.tabla.actualizar' | translate}} </h5>
        <h5 *ngIf="flagNewUpdate" class="modal-title" >{{ 'precios.descuento.subtitulo' | translate }}</h5>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>
    <div class="modal-body pt-0">
            <div class="card-wrapper bg-white">
                <div class="card">
                    <div class="card-header">
                        <h3>Cliente/s que le corresponde este descuento</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="nombre_empresa"
                                    class="form-control-label">{{ 'cliente.add.cliente' | translate }}</label>
                                    <ng-select #NgSelectCliente formControlName="cliente"
                                        [items]="clientes"
                                        bindValue="nrocliente"
                                        bindLabel="nombre"
                                        (clear)="resetCalculations();"
                                        >
                                        <ng-template ng-option-tmp let-item="item" let-index="index">
                                            <small class="form-text text-muted"> {{item.nombre}} ( {{item.nrocliente}} )</small>
                                        </ng-template>
                                    </ng-select>
                                    <div class="alert  alert-danger"
                                        *ngIf="addForm.get('cliente').hasError('required') && addForm.get('cliente').touched">
                                        {{ 'cliente.add.cliente' | translate }} es obligatorio
                                    </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <input type="checkbox" formControlName="todos" name="todos" class="d-inline-block" id="todos" style="width: 3rem; height: 1.3rem; margin-top: 2.5rem;" (change)="NgSelectCliente.handleClearClick(); set_todos()">
                                    <label class="d-inline-block" for="todos" style="margin-top: 2.4rem">Le corresponde a todos</label>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>      
            
            <div class="card-wrapper bg-white">
                <div class="card">
                    <div class="card-header">
                        <h3>Producto/s que va a afectar este descuento</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h3>Elegirlos varios productos según filtros</h3>
                            </div>
                                <div class="col-lg-4"  *ngIf="caract1.length > 0">
                                    <div class="form-group mr-1">
                                        <label for="nombre_empresa"
                                         class="form-control-label">{{ textCaract1 }}</label>
                                         <ng-select formControlName="caract1" 
                                            [items]="caract1"  (change)='disabledInputCode()'
                                            bindValue="nombre"
                                            bindLabel="nombre">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-4" *ngIf="caract2.length > 0">
                                    <div class="form-group mr-1">
                                        <label for="nombre_empresa"
                                         class="form-control-label">{{ textCaract2 }}</label>
                                         <ng-select formControlName="caract2"
                                            [items]="caract2"
                                            bindValue="nombre"
                                            bindLabel="nombre">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-4" *ngIf="caract3.length > 0 ">
                                    <div class="form-group mr-1">
                                        <label for="nombre_empresa"
                                         class="form-control-label">{{ textCaract3 }}</label>
                                         <ng-select formControlName="caract3"
                                            [items]="caract3"
                                            bindValue="nombre"
                                            bindLabel="nombre">
                                        </ng-select>
                                    </div>
                                </div>
                            
                        </div>  
                        
                        <div class="row">
                            <div class="col-12 mt-3 mb-2">
                                <h3>Elegir un producto por código</h3>
                            </div>   
                            <div class="col-lg-4">
                                <div class="form-group mr-1">
                                    <label for="nombre_empresa"
                                     class="form-control-label">{{ 'precios.descuento.codigo' | translate}}</label>
                                    <input formControlName="codigo_producto" class="form-control"
                                        (keyup)="disabledInputSelect($event)"
                                        placeholder="{{ 'precios.descuento.codigo' | translate }}">
                                </div>
                                
                            </div>
                            <div class="col-lg-8"></div>
            
                        </div>
                    </div>
                </div>
            </div>  

            <div class="card-wrapper bg-white">
                <div class="card">
                    <div class="card-header">
                        <h3>Descuento a aplicar</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="input-group mr-1">
                                    
                                    <input type="number" formControlName="descuento" class="form-control"
                                        placeholder="{{ 'precios.descuento.descuento' | translate }}">
                                        <span class="input-group-text bg-light rounded-end ml--1">%</span>

                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
    </div>
    <div class=" modal-footer">
        <button *ngIf="!flagNewUpdate" class="btn btn-success" [disabled]='addForm.invalid'
        (click)="update()">{{ 'cliente.add.guardar' | translate}}</button> 
        <button *ngIf="flagNewUpdate" class="btn btn-success" [disabled]='addForm.invalid'  
        (click)="registrar()" >{{ 'cliente.add.guardar' | translate }} <span class="fas fa-save"></span></button>
        <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>{{ 'cliente.comprobantes.tabla.cancelar' | translate}}</button>
        <!-- <button class="btn btn-success" [disabled]='addForm.invalid'  (click)="registrar()" >{{ 'cliente.add.guardar' | translate }} <span class="fas fa-save"></span></button> -->
        <!-- <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>{{ 'cliente.add.cancelar' | translate }}</button> -->
    </div>
</form>
</ng-template>



<ng-template #modalAddDiscountVolumen >
        <div class=" modal-header">
            <h5 *ngIf="!flagNewUpdate" class="modal-title" >{{ 'cliente.comprobantes.tabla.actualizar' | translate}} </h5>
            <h5 *ngIf="flagNewUpdate" class="modal-title" >{{ 'precios.descuento.subtitulo' | translate }}</h5>
            <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
                <span aria-hidden="true"> × </span>
            </button>
        </div>
        <div class="modal-body pt-0">
            <form [formGroup]="addForm" novalidate >
                <div class="card-wrapper bg-white">
                    <div class="card">
                        <div class="card-header">
                            <h3>Cliente/s que le corresponde este descuento</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="nombre_empresa"
                                        class="form-control-label">{{ 'cliente.add.cliente' | translate }}</label>
                                        <ng-select #NgSelectCliente formControlName="cliente"
                                            [items]="clientes"
                                            bindValue="nrocliente"
                                            bindLabel="nombre"
                                            (clear)="resetCalculations();"
                                            >
                                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                                <small class="form-text text-muted"> {{item.nombre}} ( {{item.nrocliente}} )</small>
                                            </ng-template>
                                        </ng-select>
                                        <div class="alert  alert-danger"
                                            *ngIf="addForm.get('cliente').hasError('required') && addForm.get('cliente').touched">
                                            {{ 'cliente.add.cliente' | translate }} es obligatorio
                                        </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <input type="checkbox" formControlName="todos" name="todos" class="d-inline-block" style="width: 3rem; height: 1.3rem; margin-top: 2.5rem;" (change)="NgSelectCliente.handleClearClick(); set_todos()">
                                        <label class="d-inline-block" for="todos" style="margin-top: 2.4rem">Le corresponde a todos</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-wrapper bg-white">
                    <div class="card">
                        <div class="card-header">
                            <h3>Producto/s que va a afectar este descuento</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h3>Elegirlos varios productos según filtros</h3>
                                </div>
                                    <div class="col-lg-4"  *ngIf="caract1.length > 0">
                                        <div class="form-group mr-1">
                                            <label for="nombre_empresa"
                                             class="form-control-label">{{ textCaract1 }}</label>
                                             <ng-select formControlName="caract1"
                                                [items]="caract1"  (change)='disabledInputCode()'
                                                bindValue="nombre"
                                                bindLabel="nombre">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" *ngIf="caract2.length > 0">
                                        <div class="form-group mr-1">
                                            <label for="nombre_empresa"
                                             class="form-control-label">{{ textCaract2 }}</label>
                                             <ng-select formControlName="caract2"
                                                [items]="caract2"
                                                bindValue="nombre"
                                                bindLabel="nombre">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" *ngIf="caract3.length > 0 ">
                                        <div class="form-group mr-1">
                                            <label for="nombre_empresa"
                                             class="form-control-label">{{ textCaract3 }}</label>
                                             <ng-select formControlName="caract3"
                                                [items]="caract3"
                                                bindValue="nombre"
                                                bindLabel="nombre">
                                            </ng-select>
                                        </div>
                                    </div>

                            </div>

                            <div class="row">
                                <div class="col-12 mt-3 mb-2">
                                    <h3>Elegir un producto por código</h3>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group mr-1">
                                        <label for="nombre_empresa"
                                         class="form-control-label">{{ 'precios.descuento.codigo' | translate}}</label>
                                        <input formControlName="codigo_producto" class="form-control"
                                            (keyup)="disabledInputSelect($event)"
                                            placeholder="{{ 'precios.descuento.codigo' | translate }}">
                                    </div>

                                </div>
                                <div class="col-lg-8"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card-wrapper bg-white">
                    <div class="card">
                        <div class="card-header">
                            <h3>Rangos de descuento</h3>
                        </div>
                        <div class="card-body">
                            <div class="row" *ngFor="let row of descuentos_volumen; let i = index">
                                <div class="col-lg-12 mt-2">
                                    <div class="mr-1 input-group">
                                        <span class="mt-2"> Si la cantidad es mayor o igual a </span>
                                        <input type="number" [(ngModel)]="row.mayor" class="form-control mr-2 ml-2" placeholder="10">
                                        <span class="mt-2"> y menor o igual a </span>
                                        <input type="number" [(ngModel)]="row.menor" class="form-control mr-2 ml-2" placeholder="10">
                                        <span class="mt-2"> aplicar un descuento de </span>
                                        <input type="number" [(ngModel)]="row.descuento" class="form-control mr-2 ml-2" placeholder="10">
                                        <span class="mt-2"> % </span>
                                        <button class="btn btn-sm btn-danger ml-4" title="Eliminar" style="width: 2rem" (click)="delete_dcto_volumen(i);"><span class="fas fa-trash"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-12">
                                    <button class="btn btn-light" title="agregar otro" (click)="agregar_otro_dcto_volumen()" [disabled]="check_valid_button_agregar()"><span>Agregar otro</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class=" modal-footer">
            <button *ngIf="!flagNewUpdate" class="btn btn-success" [disabled]='addForm.invalid || check_valid_button_agregar()'
            (click)="update()">{{ 'cliente.add.guardar' | translate}}</button>
            <button *ngIf="flagNewUpdate" class="btn btn-success" [disabled]='addForm.invalid || check_valid_button_agregar()'
            (click)="registrar()" >{{ 'cliente.add.guardar' | translate }} <span class="fas fa-save"></span></button>
            <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>{{ 'cliente.comprobantes.tabla.cancelar' | translate}}</button>
            <!-- <button class="btn btn-success" [disabled]='addForm.invalid'  (click)="registrar()" >{{ 'cliente.add.guardar' | translate }} <span class="fas fa-save"></span></button> -->
            <!-- <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>{{ 'cliente.add.cancelar' | translate }}</button> -->
        </div>
</ng-template>