<!-- Sidenav -->
<div class="" (window:resize)="isMobile($event)">
    <app-sidebar-admin
      [ngClass]="{ 'sidenav fixed-left': isMobileResolution === false }"
    ></app-sidebar-admin>
    <div class="main-content">
        <!-- Top navbar -->
        <app-navbar-admin></app-navbar-admin>
        <!-- Pages -->
        <router-outlet></router-outlet>
        <!-- taskmanager - onboarding - walktrought -->
        <app-taskmanager></app-taskmanager>
        <app-footer-admin></app-footer-admin>
    </div>
</div>
  