<!-- Sidenav -->

<div class="" (window:resize)="isMobile($event)">
  
    <app-sidebar-admin [ngClass]="{ 'sidenav fixed-left': isMobileResolution === false }"></app-sidebar-admin>

    <div class="main-content">
        <!-- Top navbar -->
        <div *ngIf="admin" class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-10" >
                <h2 class="boil">Super Admin | {{nombre_empresa}}</h2>
              </div>
              <div class="col-lg-2">
                <button (click)="volver()" class="btn btn-primary"> <span class="icon-home"></span> Volver</button>
                
              </div>
            </div>
          </div>
        </div>
        <app-navbar-admin></app-navbar-admin>
        <!-- Pages -->
        <router-outlet></router-outlet>
        <!-- taskmanager - onboarding - walktrought -->
        <app-taskmanager></app-taskmanager>
        <app-footer-admin></app-footer-admin>
    </div>
</div>
  