<div class=" header bg-maspedidos pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0">
                {{  'vendedores.importar.titulo' | translate}}</h6>
          </div>
          <div class=" col-lg-6 col-5 text-right">
            <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="modeloVendedor()"> Descargar Modelo </a>
            <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="dataExcelVendedores()"> Exportar Excel</a>
            <!-- <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="addCliente(modalAdd)" > Nuevo Cliente </a> -->
          </div>
        </div>
      </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class="dataTables_wrapper py-4">
                    
                    <div class=" card">
                        <div class="card-body">
                            <h3 class=" mb-0">{{'vendedores.importar.select'  | translate }}</h3>
                            <form [formGroup]="addForm" novalidate>
                                <div class="custom-file">
                                    <input formControlName="file"  (change)="handleFile($event)"  class="custom-file-input" id="customFileLang" lang="pt" type="file"  />
                                    <label class="custom-file-label" for="customFileLang"> {{'vendedores.importar.labelselect'  | translate }} </label>
                                    <div class="alert  alert-danger" *ngIf="addForm.get('file').hasError('required') && addForm.get('file').touched">  
                                        Archivo es requerido
                                    </div>  
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="col-lg-2 d-inline pull-right">
                                <button class="btn btn-success" [disabled]='addForm.invalid' (click)="sendfile()">Enviar</button> 
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
