<div class=" header  pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 d-inline-block mb-0">
                {{  'precios.importar-descuento.titulo' | translate}}</h6>
          </div>
          <div class=" col-lg-6 col-5 text-right">
            <a *ngIf="onboardingService.on == false" class=" btn btn-sm btn-neutral" 
                href="javascript:void(0)" (click)="modeloDescuento();"> Descargar Modelo </a>
            <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" (click)="dataExcelDescuentos()"> Exportar Excel</a>
           
          </div>
        </div>
      </div>
    </div>
</div>


<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                
                <div class="card-body">
                    <h5 class="card-title">{{ 'precios.importar-descuento.select' | translate}}</h5>
                    <form [formGroup]="addForm" novalidate>
                        <div class="custom-file">
                            <!--   <label class="custom-file-label" for="customFileLang">
                                 {{'cliente.importar.labelselect'  | translate }} 
                            </label> -->
                            <input formControlName="file"  (change)="handleFile($event)"  
                                class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                id="customFileLang" lang="pt" type="file"   />
                          
                            <div class="alert  alert-danger" *ngIf="addForm.get('file').hasError('required') && addForm.get('file').touched">  
                                Archivo es requerido
                            </div>  
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="col-lg-2 d-inline pull-right">
                        <button class="btn btn-success" [disabled]='addForm.invalid' (click)="sendfile()">Enviar</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>