<nav
  class="navbar navbar-top navbar-expand navbar-light  border-bottom"
  id="navbar-main"
>
  <div  class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Search form -->
      <a aca  href="https://{{ dominio }}" target="_blank">
        <div class="bg-maspedidos text-white py-2 px-5 rounded">
          Ir a mi tienda
          <img class="ml-2 mt--1" style="width:40px" src="/assets/img/brand/logo_blanco_sintexto.png" />
        </div>
      </a>
      <!--
      <form class="navbar-search navbar-search-dark form-inline mr-sm-3" id="navbar-search-main" >
        <div class="form-group mb-0" [ngClass]="{ focused: focus === true }">
          <div class="input-group input-group-alternative input-group-merge">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="text" (focus)="focus = true" (blur)="focus = false"/>
          </div>
        </div>
        <button type="button" class="close" (click)="closeSearch()" data-action="search-close" data-target="#navbar-search-main" aria-label="Close" >
          <span aria-hidden="true">×</span>
        </button>
      </form> -->
      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center ml-md-auto">
        <li class="nav-item d-xl-none">
          <!-- Sidenav toggler -->
          <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main" (click)="openSidebar()" >
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </li>
      </ul>
      <!-- User -->
      <ul class="navbar-nav align-items-center ml-auto ml-md-0">
        <li class="nav-item dropdown" dropdown placement="bottom-right">
          <a class="nav-link pr-0 dropdown-toggle" role="button" dropdownToggle>
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle bg-white">
                <img
                  alt="Image placeholder"
                  *ngIf="truelogo"
                  [src]="logo"
                />
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">{{nombre_empresa}}</span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" *dropdownMenu>
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Bienvenido {{nombre_empresa}}!</h6>
            </div>
            <a routerLinkActive="active" [routerLink]="['/admin/configuraciones/empresa']" class="dropdown-item">
              <i class="ni ni-single-02"></i> <span>Configuración</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void()" (click)="onLogout()" class="dropdown-item">
              <i class="fa fa-door-open"></i> <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  *ngIf="sidenavOpen === true"
  class="backdrop d-xl-none"
  (click)="toggleSidenav()"
></div>
