<div class=" header  pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2  d-inline-block mb-0">Lista Precios</h6>
          </div>
          <div class=" col-lg-6 col-5 text-right">
            <!-- <a class=" btn btn-success" href="javascript:void(0)" (click)="addComprobante(modalEdit)" > Nuevo Comprobante </a> -->
          </div>
        </div>
      </div>
    </div>
</div>


<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class=" card">
                <div class=" card-header">
                    <h3 class="catd-text">Filtros</h3>
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="from-group">
                                <label class="form-control-label">Nombre de lista</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="listaFilter"
                                    placeholder="Nombre de lista" aria-controls="datatable" (keyup)="filterTable()"/>
                            </div>
                        </div>

                        <div class="col-12 col-md-3">
                          <div class="from-group">
                              <label class="form-control-label">Código de producto</label>
                              <input type="text" class="form-control form-control-sm" [(ngModel)]="codigoProductFilter"
                                  placeholder="Código de producto" aria-controls="datatable" (keyup)="filterTable()"/>
                          </div>
                      </div>

                        <div class="col-md-12 mt-3">
                            <button class="btn btn-sm btn-primary" (click)="eliminar()">limpiar búsqueda</button>
                        </div>
                    </div>
                </div>

                <div class=" container-fluid mt-2">
                    <div class=" row">
                        <div class="col-12" *ngIf="!listaPrecios.length">
                            <h3>No se han encontrado resultados!</h3>
                        </div>
                        <ng-container *ngFor="let row of listaPrecios ">
                            <div class="col-12">
                                <div class="card overflow-hidden">
                                    <div class="card-content">
                                        <div class="card-body ">
                                            <div class="media align-items-stretch">
                                                <div class="col-8 col-md-9">
                                                    <div class="flex-grow-1 d-flex flex-column justify-content-between align-self-between">
                                                        <span class="d-block" *ngIf="true"><strong>Lista: </strong>{{row.lista}}</span>
                                                        <span class="d-block" *ngIf="true"><strong>Producto:</strong> {{row.codigoProducto }}</span>
                                                        <span class="d-block" *ngIf="true"><strong>Precio:</strong> {{row.precio}}</span>
                                                        <span class="d-block"><strong>Precio oferta:</strong> {{row.precioOferta}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="table-responsive" *ngIf="listaPrecios.length > pageSize">
                            <ngb-pagination [(page)]="page" [maxSize]="pageSize" [rotate]="true"  (pageChange)="refreshDatos()"
                                            [pageSize]="pageSize" [collectionSize]="collectionSize"></ngb-pagination>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>