ng-select select-dropdown > div {
    z-index: 2;
}

.ng-select.auto-grow {
  display: flex;

  .ng-select-container {
    min-width: 10rem;
    width: auto;
  }

  .ng-dropdown-panel {
    width: auto;
  }
}

.my-modal{
  position: fixed;
  margin: auto;
  width: 420px;
  height: 100%;
  right: 0px;
}

.my-modal > div{
  height: 100%;
}

