<div class=" header  pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 d-inline-block mb-0">
                {{  'pedidos.tituloCliente' | translate}}</h6>
          </div>
          <div class=" col-lg-6 col-5 text-right">
            <!-- <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> Nuevo </a> -->
          </div>
        </div>
      </div>
    </div>
</div>

<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class=" card">

                <div class="dataTables_wrapper py-4 "  *ngIf="!emptyTable">  
                    <div class="row">
                        <div class="col-2" ></div>
                        <div class="col-8" >
                        <div class="text-center cabecera">
                            <h1 > Aquí aparecerán tus pedidos</h1>
                            <img src="assets/img/2808165.jpg" width="100%">  
                        </div>     
                        </div>
                        <div class="col-2"></div>
                    </div>        
                </div>
                <div class=" card-header" *ngIf="emptyTable">
                    <h3 class="catd-text">Filtros</h3>
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="from-group">
                                <label class="form-control-label">Número Pedido</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="nroPedido"
                                    placeholder="Número Pedido" aria-controls="datatable" 
                                    (keyup)="filters()"/>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="from-group">
                                <label class="form-control-label">Número Cliente</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="nroCliente"
                                    placeholder="Número Cliente" aria-controls="datatable" 
                                    (keyup)="filters()"/>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label for="" class="form-control-label">Fecha Inicio</label>
                                <input type="date" class="form-control form-control-sm" [(ngModel)]="dateStar"  (change)="filters()" >
                                <!-- <dp-date-picker theme="dp-material" (onChange)="filters($event)"
                                    [(ngModel)]="dateStar" [config]="datePickerConfig" ></dp-date-picker>   -->
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label for="" class="form-control-label">Fecha Fin</label>
                                <input type="date" class="form-control form-control-sm" [(ngModel)]="dateEnd" (change)="filters()" >
                                <!-- <dp-date-picker theme="dp-material" [(ngModel)]="dateEnd" [config]="datePickerConfig" ></dp-date-picker>   -->
                            </div>
                        </div>

                        <div class="col-md-3" >
                            <div class="from-group">
                                <label class="form-control-label" for="">Estado</label>
                                <ng-select (change)="filters()" [(ngModel)]="estadoSelect" 
                                    bindValue="estado" [items]="lista_estados" bindLabel="estado">
                                </ng-select>
                            </div>
                        </div>
                    
                         <div class="col-md-12 mt-3">
                            <button class="btn btn-sm btn-primary" (click)="eliminar()">limpiar búsqueda</button>
                         </div>
                    </div>
                </div>
                <div class="dataTables_wrapper py-4" *ngIf="emptyTable">

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <!-- <div class="dataTables_length" id="datatable_length">
                                <label class="form-control-label"> {{ 'pedidos.tabla.mostrar' | translate}}
                                <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm" (change)="entriesChange($event)">
                                    <option value="10" [selected]="entries == 10">10</option>
                                    <option value="25" [selected]="entries == 25">25</option>
                                    <option value="50" [selected]="entries == 50">50</option>
                                    <option value="-1" [selected]="entries == -1">All</option>
                                </select>
                                {{ 'pedidos.tabla.entradas' | translate}}
                                </label>
                            </div> -->
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="datatable_filter" class="dataTables_filter">
                                <label class="form-control-label"><input type="hidden" class="form-control form-control-sm" placeholder="{{ 'pedidos.tabla.buscar' | translate}}" aria-controls="datatable" (keyup)="filterTable($event)"/></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6" *ngFor="let producto of temp">
                            <div class="card overflow-hidden">
                                <div class="card-content">
                                    <div class="card-body d-none d-sm-none d-md-block">
                                        <div class="d-flex justify-content-between">
                                            <h4 class="card-title"><strong>ID: </strong>{{producto.numeroInterno}}</h4>
                                            <div class="mr--2">
                                                <a href="javascript:void(0)" class="mr-3" (click)='addNote(modalNote,producto)'>Nota <span class="fas fa-clipboard"></span></a>
                                                <a href="javascript:void(0)" class="mr-3" (click)='onSelectItem(modalEditVendedor,producto)'>{{ 'pedidos.tabla.detalle' | translate}} <span class="fas fa-info"></span></a>
                                                <a *ngIf="producto.comentario != ''" href="javascript:void(0)" class="mr-3" (click)='onaddComente(modalComent,producto)' title="comentar">Comentar <span class="fas fa-eye"></span> </a>
                                                <a href="javascript:void(0)" class="mr-3" (click)='dataExcelClientes(producto)' title="exportar">Exportar <span class="fas fa-file-import"></span> </a>
                                            </div>
                                        </div>
                                        <div class="media h-100 d-flex flex-column">
                                            <span class="d-block" ><strong>Fecha:</strong> {{producto.fecha | fehaLarga}}</span>
                                            <span class="d-block" ><strong>Nro Cliente:</strong> {{producto.nrocliente}}</span>
                                            <span class="d-block"><strong>Nombre: </strong>{{producto.cliente}}</span>
                                            <span class="d-block"><strong>Total:</strong> $ {{producto.total}}</span>
                                            <span class="d-block">
                                                <strong>Estado:</strong>
                                                <ng-select [(ngModel)]="models[producto.id]" [items]="lista_estados" appendTo="body" (change)="change_state(producto)" class="auto-grow"></ng-select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body d-block d-md-none">
                                        <div class="d-flex justify-content-between">
                                            <h4 class="card-title"><strong>ID: </strong>{{producto.numeroInterno}}</h4>
                                            <div class="mt--1 mr--2">
                                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>

                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item  (click)='addNote(modalNote,producto)'>
                                                        <span class="fas fa-clipboard m-1"> </span>Nota
                                                    </button>
                                                    <button mat-menu-item  (click)='onSelectItem(modalEditVendedor,producto)'>
                                                        <span class="fas fa-info m-1"></span> {{ 'pedidos.tabla.detalle' | translate}}
                                                    </button>
                                                    <button mat-menu-item *ngIf="producto.comentario != ''" (click)='onaddComente(modalComent,producto)' title="comentar">
                                                        <span class="fas fa-eye m-1"></span> Comentar
                                                    </button>
                                                    <button mat-menu-item  (click)='dataExcelClientes(producto)' title="exportar">
                                                        <span class="fas fa-file-import m-1"></span>  exportar
                                                    </button>
                                                </mat-menu>
                                            </div>
                                        </div>
                                        <div class="media h-100 d-flex flex-column">
                                            <span class="d-block" ><strong>Fecha:</strong> {{producto.fecha | fehaLarga}}</span>
                                            <span class="d-block" ><strong>Nro Cliente:</strong> {{producto.nrocliente}}</span>
                                            <span class="d-block"><strong>Nombre: </strong>{{producto.cliente}}</span>
                                            <span class="d-block"><strong>Total:</strong> $ {{producto.total}}</span>
                                            <span class="d-block">
                                                <strong>Estado:</strong>
                                                <ng-select [(ngModel)]="models[producto.id]" [items]="lista_estados" appendTo="body" (change)="change_state(producto)" class="auto-grow"></ng-select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="table-responsive">
                        <ngb-pagination [(page)]="page" [maxSize]="7" [rotate]="true"  (pageChange)="refreshDatos()"
                     [pageSize]="pageSize" [collectionSize]="collectionSize"></ngb-pagination>
                    </div>
            
                    <!-- <ngx-datatable [messages]="{emptyMessage: 'No se han encontrado resultados!'}"
                        class="bootstrap selection-cell fullscreen" [columnMode]="'force'"
                        [footerHeight]="50" [rowHeight]="70" 
                        [limit]="entries != -1 ? entries : undefined" [rows]="temp" 
                        [loadingIndicator]="loadingIndicator"
                        [scrollbarH]="true"
                        (activate)="onActivate($event)">

                        <ngx-datatable-column name="numeroInterno" [width]="10">
                            <ng-template let-column="column" ngx-datatable-header-template >
                                <span>ID</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="fecha" [width]="200">
                            
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{ value | fehaLarga }}
                            </ng-template>

                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span>{{ 'pedidos.tabla.fecha' | translate}}</span>
                            </ng-template>
                            
                        </ngx-datatable-column>
                        <ngx-datatable-column name="nrocliente"  [width]="100">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span>{{ 'pedidos.tabla.nocliente' | translate}}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="cliente" [width]="200">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span>{{ 'pedidos.tabla.nombre' | translate}}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="total" [width]="100">
                            
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span>{{ 'pedidos.tabla.total' | translate}}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="estado" [width]="200">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span>{{ 'pedidos.tabla.estado' | translate}}</span>
                            </ng-template>
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <span>
                                    <ng-select [(ngModel)]="models[row.id]" [items]="lista_estados" appendTo="body" (change)="change_state(row)">
                                    </ng-select>
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Acción" [width]="250">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span>{{ 'pedidos.tabla.acciones' | translate}}</span>
                            </ng-template>
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <span>
                                    <button class="btn btn-sm btn-primary" (click)='addNote(modalNote,row)'><span class="fas fa-clipboard"></span></button>
                                    <button class="btn btn-sm btn-primary" (click)='onSelectItem(modalEditVendedor,row)'><span class="fat-add"></span> {{ 'pedidos.tabla.detalle' | translate}}</button>
                                    <button *ngIf="row.comentario != ''" class="btn btn-sm btn-info" (click)='onaddComente(modalComent,row)' title="comentar"><span class="fas fa-eye"></span> </button>
                                    <button class="btn btn-sm btn-success" (click)='dataExcelClientes(row)' title="exportar"><span class="fas fa-file-import"></span> </button>
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                     -->
                </div>
            </div>
        </div>
    </div>
</div>

    <ng-template #modalEditVendedor >
        <div class=" modal-header">    
            <h5 class="modal-title" >{{ 'pedidos.tabladetalle.titulotabla' | translate}}</h5>
            <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
                <span aria-hidden="true"> × </span>
            </button>
        </div>
        <div class=" modal-body  pt-0">
            
            <div class="dataTables_wrapper py-4">
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-3">
                        <h1>Pedido #{{ detalleId }}</h1>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-3" *ngIf="detalleSucursal != '' ">
                        <h3> Pedido a sucursal: {{ detalleSucursal }}</h3>
                    </div>
                </div>    
                <h5 class="">Lista de Archivos</h5>
                <ngx-datatable [messages]="{emptyMessage: 'El cliente aún no adjuntó ningún archivo al pedido!'}"
                    class="bootstrap selection-cell" 
                    [columnMode]="'force'" [headerHeight]="50" 
                    [footerHeight]="50" [rowHeight]="'auto'" 
                    [limit]="fileEntries != -1 ? fileEntries : undefined"
                    [scrollbarH]="true"
                    [rows]="files" >
                    <ngx-datatable-column name="archivo" [width]="200">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Archivo</span>
                        </ng-template>
                        <ng-template  let-value="value" let-row="row" ngx-datatable-cell-template headerClass="w100">
                            <span class="w100">
                                <a [href]="row.archivo | bannersImg:bucket:2">
                                    {{row.archivo}}</a>
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="fecha" [width]="200">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Fecha</span>
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value | fehaLarga }}
                        </ng-template>
                    </ngx-datatable-column>
                  
                </ngx-datatable>




                <div class="row">
                    <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="datatable_length">
                        <label class="form-control-label"> {{ 'pedidos.tabla.mostrar' | translate}}
                        <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm" (change)="entriesChangeDet($event)">
                            <option value="10" [selected]="entries == 10">10</option>
                            <option value="25" [selected]="entries == 25">25</option>
                            <option value="50" [selected]="entries == 50">50</option>
                            <option value="-1" [selected]="entries == -1">All</option>
                        </select>
                        {{ 'pedidos.tabla.entradas' | translate}}
                        </label>
                    </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                    <div id="datatable_filter" class="dataTables_filter">
                        <label class="form-control-label">
                            <input type="text" class="form-control form-control-sm" placeholder="{{ 'pedidos.tabla.buscar' | translate}}" 
                            aria-controls="datatable" (keyup)="filterTableDet($event)"/></label>
                    </div>
                    </div>
                </div>
        
                <ngx-datatable [messages]="{emptyMessage: 'No se han encontrado resultados!'}"
                    class="bootstrap selection-cell fullscreen"
                    [columnMode]="'force'" [headerHeight]="50" 
                    [footerHeight]="50" [rowHeight]="'auto'" 
                    [limit]="entriesDet != -1 ? entriesDet : undefined"
                    [scrollbarH]="true"
                    [rows]="detalleRow" (activate)="onActivateDet($event)">
                    <ngx-datatable-column name="titulo" [width]="250">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'pedidos.tabladetalle.titulo' | translate}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="codigo" [width]="200">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'pedidos.tabladetalle.codigo' | translate}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column prop="precio_real">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'pedidos.tabladetalle.precion_real' | translate}}</span>
                        </ng-template>
                    </ngx-datatable-column> -->
                    <ngx-datatable-column prop="precio" [width]="200">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'pedidos.tabladetalle.precio' | translate}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="cantidad" [width]="200">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'pedidos.tabladetalle.cantidad' | translate}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                   
                    <!-- <ngx-datatable-column name="Acción" >
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>{{ 'pedidos.tabla.acciones' | translate}}</span>
                        </ng-template>
                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                            <span>
                              <button class="btn btn-sm btn-primary" (click)='onSelectItem(modalEditVendedor,row.detalle)'><span class="fat-add"></span> {{ 'pedidos.tabla.detalle' | translate}}</button>
                            </span>
                          </ng-template>
                    </ngx-datatable-column> -->
                </ngx-datatable>
                </div>

        </div>
        <div class=" modal-footer">
          <!-- <button class="btn btn-success" [disabled]='addForm.invalid' *ngIf="!btnvisibility" (click)="onUpdate()">Actualizar</button>  -->
          <!-- <button class="btn bg-zeene ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>Cancelar</button> -->
        </div>
    
    </ng-template>


    <ng-template #modalComent >
        <div class=" modal-header">    
            <h5 class="modal-title" >{{ 'pedidos.modalComentario.add' | translate}}</h5>
            <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
                <span aria-hidden="true"> × </span>
            </button>
        </div>
        <div class=" modal-body  pt-0">
            
            <form [formGroup]="addForm" novalidate>
                <textarea disabled class="form-control" formControlName="comentario" id="comentario" rows="3" placeholder="{{ 'pedidos.modalComentario.addText' | translate}}"></textarea>
                <div class="alert  alert-danger" *ngIf="addForm.get('comentario').hasError('required') && addForm.get('comentario').touched">  
                    {{ 'pedidos.modalComentario.text' | translate}} es requerido
                  </div>
            </form>

        </div>
        <div class=" modal-footer">
          <!-- <button class="btn btn-success" [disabled]='addForm.invalid' *ngIf="!btnvisibility" (click)="guardarComentarioPedido()"> {{ 'pedidos.modalComentario.guardar' | translate}}</button>  -->
          <button class="btn bg-zeene ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> <i class="fa fa-times-circle" ></i>{{ 'pedidos.modalComentario.cancelar' | translate}}</button>
        </div>
    
    </ng-template>
    <ng-template #modalNote >
        <div class=" modal-header">    
            <h5 class="modal-title" >{{ 'pedidos.note.add' | translate}}</h5>
            <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide(); noteForm.reset()">
                <span aria-hidden="true"> × </span>
            </button>
        </div>
        <div class=" modal-body  pt-0">
            
            <form [formGroup]="noteForm" novalidate>
                <textarea class="form-control" formControlName="notas" rows="3" placeholder="{{ 'pedidos.note.addText' | translate}}"></textarea>
                <div class="alert  alert-danger" *ngIf="noteForm.get('notas').hasError('required') && noteForm.get('notas').touched">  
                    {{ 'pedidos.note.textRequired' | translate}} 
                </div>
            </form>

        </div>
        <div class=" modal-footer">
          <button class="btn btn-success" [disabled]='noteForm.invalid' (click)="guardarNotaPedido()"> {{ 'pedidos.modalComentario.guardar' | translate}}</button> 
          <button class="btn btn-primary ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide(); noteForm.reset()"> <i class="fa fa-times-circle" ></i>{{ 'pedidos.modalComentario.cancelar' | translate}}</button>
        </div>
    
    </ng-template>