<div class=" header  pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-4 col-7">
            <h6 class=" h2  d-inline-block mb-0 mr-1 text-uppercase">Empresas</h6>
            
          </div>
          <div class=" col-lg-8 col-5 text-right">
            <!-- <a class=" btn btn-sm btn-neutral" href="javascript:void(0)" 
            (click)="newCompany()"> Nuevo </a> -->
          </div>
        </div>
      </div>
    </div>
</div>


<div class=" container-fluid mt--6">
    
    <div class="row">
        <div class="col-12" *ngFor="let empresa of empresas">
            <div class="card overflow-hidden">
                <div class="card-content">
                    <div class="card-body ">
                        <div class="media align-items-stretch">
                            <!-- <div class="align-self-center">
                                <i class="icon-pencil primary font-large-2 mr-2"></i>
                            </div> -->
                            <div class="media-body">
                                <h4>{{empresa.nombre}}</h4>
                                <span class="d-block" *ngIf="empresa.contacto">{{empresa.contacto}}</span>
                                <span class="d-block" *ngIf="empresa.fecha_registro">{{empresa.fecha_registro}}</span>
                                <span class="d-block" *ngIf="empresa.telefono">{{empresa.telefono}}</span>
                                
                            </div>
                            <div class="desktop align-self-center">
                                <button class="btn btn-md btn-info " (click)="openInfo(modalEmpresa,empresa)" title="Ver empresas" >
                                    <i class="icon-info success font-large-2 "></i>
                                </button>
                                <button class="btn btn-sm " (click)="desactivarAfiliado(empresa)" title="Desactivar Afiliado">
                                    <i class="icon-heart danger font-large-2"></i>
                                </button>
                                <button class="btn btn-sm " (click)="editar(empresa)"  title="Editar">
                                    <i class="icon-heart danger font-large-2"></i>
                                </button>
                                <!-- <button class="btn btn-sm ">
                                    <i class="icon-pencil primary font-large-2 mr-2"></i>
                                </button> -->
                            </div>
                            <div class="movil align-self-center">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="openInfo(modalEmpresa,empresa)">
                                      <mat-icon>info</mat-icon>
                                      <span>Detalles</span>
                                    </button>
                                    <!-- <button mat-menu-item disabled>
                                      <mat-icon>voicemail</mat-icon>
                                      <span>Check voice mail</span>
                                    </button> -->
                                    <a href="http://{{empresa.dominio}}" target="blanck" mat-menu-item>
                                      <mat-icon>link</mat-icon>
                                      <span>ir a tienda</span>
                                    </a>
                                  </mat-menu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

</div>


<ng-template #modalEmpresa >
    <div class="modal-header">    
        <h2 class="" >{{nameEmpresa}}</h2>
        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="notificationModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>    
    <div class="modal-body">
        
        <ngx-datatable [messages]="{emptyMessage: 'No se han encontrado resultados!'}"
                    class="bootstrap selection-cell fullscreen"
                    [columnMode]="'force'" 
                    [headerHeight]="50" 
                    [footerHeight]="50" 
                    [rowHeight]="70"
                    [scrollbarH]="true"
                    [limit]="entries != -1 ? entries : undefined" [rows]="afiliadosEmpre"  
                    >
                    
                    <ngx-datatable-column name="nombre" [width]="100">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Nombre</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="usuario" [width]="100">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Usuario</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="dominio" [width]="100">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span>Dominio </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="telefono" [width]="100">
                        <ng-template let-column="column" ngx-datatableheader-template>
                            <span>Telefono </span>
                        </ng-template>
                    </ngx-datatable-column>
                    
                </ngx-datatable>     
  
    </div>
    <div class=" modal-footer">
      <button class="btn bg-danger ml-auto text-white" data-dismiss="modal" type="button" (click)="notificationModal.hide()"> 
        <i class="fa fa-times-circle" ></i> Cerrar</button>
    </div>
  </ng-template>